In [1]:
# 実行は必ず20時以降、翌日の8時前に実施する
import numpy as np
import pandas as pd
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame

# 引数の取得
# filedate = '20220315'
# import sys
# filedate = sys.argv[1]

In [2]:
# 文字列からDatetime形式へ変換
filedate = '20220315'
strtodate = dt.datetime.strptime(filedate, '%Y%m%d')

In [3]:
strtodate

datetime.datetime(2022, 3, 15, 0, 0)

In [19]:
today = dt.date.today()

In [20]:
today

datetime.date(2022, 4, 25)

In [21]:
yesterday = today - dt.timedelta(days = 1)

In [22]:
yesterday

datetime.date(2022, 4, 24)

In [23]:
format(today, '%Y%m%d')

'20220425'

In [25]:
format(yesterday, '%Y%m%d')

'20220424'

In [26]:
df_stock = pd.read_csv('data/stock_' + format(yesterday, '%Y%m%d') + '.csv', index_col=0, header=[0,1], parse_dates=[0])

In [27]:
df_stock

Attributes    Adj Close                                                     \
Symbols          1301.T      1332.T       1333.T       1352.T       1375.T
Date
2022-03-24  3390.229980  565.052063  2468.565918  1198.032837  1148.094971
2022-03-25  3453.735596  572.982605  2480.377197  1199.016357  1160.786499
2022-03-28  3429.310303  577.939209  2515.811279  1199.016357  1174.454224
2022-03-29  3400.000000  571.000000  2504.000000  1200.000000  1152.000000
2022-03-30  3355.000000  558.000000  2444.000000  1219.000000  1164.000000
2022-03-31  3330.000000  548.000000  2397.000000  1219.000000  1141.000000
2022-04-01  3435.000000  549.000000  2411.000000  1220.000000  1173.000000
2022-04-04  3420.000000  555.000000  2438.000000  1220.000000  1176.000000
2022-04-05  3405.000000  551.000000  2414.000000  1219.000000  1197.000000
2022-04-06  3385.000000  538.000000  2374.000000  1219.000000  1206.000000
2022-04-07  3330.000000  540.000000  2401.000000  1219.000000  1197.000000
2022-04-08  3275.000000  552.000000  2411.000000  1219.000000  1189.000000
2022-04-11  3250.000000  557.000000  2397.000000  1218.000000  1181.000000
2022-04-12  3220.000000  555.000000  2347.000000  1216.000000  1147.000000
2022-04-13  3260.000000  558.000000  2374.000000  1218.000000  1146.000000
2022-04-14  3260.000000  563.000000  2391.000000  1217.000000  1143.000000
2022-04-15  3235.000000  555.000000  2365.000000  1217.000000  1134.000000
2022-04-18  3205.000000  547.000000  2342.000000  1218.000000  1120.000000
2022-04-19  3185.000000  551.000000  2362.000000  1218.000000  1131.000000
2022-04-20  3225.000000  571.000000  2404.000000  1217.000000  1116.000000
2022-04-21  3250.000000  575.000000  2393.000000  1218.000000  1132.000000
2022-04-22  3245.000000  568.000000  2375.000000  1217.000000  1113.000000

Attributes                                                   ... Volume  \
Symbols     1376.T  1377.T       1379.T      1384.T  1413.T  ... 1737.T
Date                                                         ...
2022-03-24  1624.0  3685.0  1945.697510  688.147888  2374.0  ...    NaN
2022-03-25  1624.0  3745.0  1938.874023  693.042236  2372.0  ...    NaN
2022-03-28  1594.0  3805.0  1939.848755  692.063416  2386.0  ...    NaN
2022-03-29  1629.0  3755.0  1934.000000  695.000000  2370.0  ...    NaN
2022-03-30  1630.0  3715.0  1922.000000  691.000000  2388.0  ...    NaN
2022-03-31  1597.0  3710.0  1906.000000  693.000000  2354.0  ...    NaN
2022-04-01  1632.0  3715.0  1940.000000  698.000000  2343.0  ...    NaN
2022-04-04  1617.0  3725.0  1953.000000  692.000000  2368.0  ...    NaN
2022-04-05  1646.0  3675.0  1980.000000  694.000000  2371.0  ...    NaN
2022-04-06  1635.0  3635.0  1954.000000  687.000000  2351.0  ...    NaN
2022-04-07  1610.0  3630.0  1968.000000  682.000000  2331.0  ...    NaN
2022-04-08  1625.0  3700.0  1980.000000  679.000000  2344.0  ...    NaN
2022-04-11  1622.0  4045.0  1974.000000  686.000000  2328.0  ...    NaN
2022-04-12  1611.0  4120.0  1971.000000  680.000000  2330.0  ...    NaN
2022-04-13  1582.0  4155.0  1991.000000  684.000000  2324.0  ...    NaN
2022-04-14  1603.0  4065.0  1970.000000  682.000000  2346.0  ...    NaN
2022-04-15  1581.0  4015.0  1971.000000  680.000000  2358.0  ...    NaN
2022-04-18  1582.0  4000.0  1964.000000  680.000000  2338.0  ...    NaN
2022-04-19  1636.0  4095.0  1962.000000  675.000000  2331.0  ...    NaN
2022-04-20  1640.0  4165.0  1996.000000  677.000000  2353.0  ...    NaN
2022-04-21  1653.0  4240.0  1994.000000  679.000000  2332.0  ...    NaN
2022-04-22  1629.0  4225.0  1989.000000  678.000000  2337.0  ...    NaN

Attributes
Symbols    1951.T 25935.T 3658.T 6271.T 6541.T 7758.T 7862.T 8287.T 9358.T
Date
2022-03-24    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-03-25    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-03-28    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-03-29    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-03-30    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-03-31    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-01    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-04    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-05    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-06    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-07    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-08    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-11    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-12    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-13    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-14    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-15    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-18    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-19    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-20    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-21    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-22    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

[22 rows x 15954 columns]