In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame

In [2]:
# 予想前日の株価データ
df_stock = pd.read_csv('data/stock_20220423.csv', index_col=0, header=[0,1], parse_dates=[0])

In [3]:
df_stock1 = df_stock.drop(df_stock.index[-1])

In [4]:
df_stock2 = df_stock1.drop(df_stock1.index[-1])

In [4]:
df_stock1

Attributes    Adj Close                                                     \
Symbols          1301.T      1332.T       1333.T       1352.T       1375.T
Date
2022-03-24  3390.229980  565.052063  2468.565918  1198.032837  1148.094971
2022-03-25  3453.735596  572.982605  2480.377197  1199.016357  1160.786499
2022-03-28  3429.310303  577.939209  2515.811279  1199.016357  1174.454224
2022-03-29  3400.000000  571.000000  2504.000000  1200.000000  1152.000000
2022-03-30  3355.000000  558.000000  2444.000000  1219.000000  1164.000000
2022-03-31  3330.000000  548.000000  2397.000000  1219.000000  1141.000000
2022-04-01  3435.000000  549.000000  2411.000000  1220.000000  1173.000000
2022-04-04  3420.000000  555.000000  2438.000000  1220.000000  1176.000000
2022-04-05  3405.000000  551.000000  2414.000000  1219.000000  1197.000000
2022-04-06  3385.000000  538.000000  2374.000000  1219.000000  1206.000000
2022-04-07  3330.000000  540.000000  2401.000000  1219.000000  1197.000000
2022-04-08  3275.000000  552.000000  2411.000000  1219.000000  1189.000000
2022-04-11  3250.000000  557.000000  2397.000000  1218.000000  1181.000000
2022-04-12  3220.000000  555.000000  2347.000000  1216.000000  1147.000000
2022-04-13  3260.000000  558.000000  2374.000000  1218.000000  1146.000000
2022-04-14  3260.000000  563.000000  2391.000000  1217.000000  1143.000000
2022-04-15  3235.000000  555.000000  2365.000000  1217.000000  1134.000000
2022-04-18  3205.000000  547.000000  2342.000000  1218.000000  1120.000000
2022-04-19  3185.000000  551.000000  2362.000000  1218.000000  1131.000000
2022-04-20  3225.000000  571.000000  2404.000000  1217.000000  1116.000000
2022-04-21  3250.000000  575.000000  2393.000000  1218.000000  1132.000000

Attributes                                                   ... Volume  \
Symbols     1376.T  1377.T       1379.T      1384.T  1413.T  ... 1737.T
Date                                                         ...
2022-03-24  1624.0  3685.0  1945.697510  688.147888  2374.0  ...    NaN
2022-03-25  1624.0  3745.0  1938.874023  693.042236  2372.0  ...    NaN
2022-03-28  1594.0  3805.0  1939.848755  692.063416  2386.0  ...    NaN
2022-03-29  1629.0  3755.0  1934.000000  695.000000  2370.0  ...    NaN
2022-03-30  1630.0  3715.0  1922.000000  691.000000  2388.0  ...    NaN
2022-03-31  1597.0  3710.0  1906.000000  693.000000  2354.0  ...    NaN
2022-04-01  1632.0  3715.0  1940.000000  698.000000  2343.0  ...    NaN
2022-04-04  1617.0  3725.0  1953.000000  692.000000  2368.0  ...    NaN
2022-04-05  1646.0  3675.0  1980.000000  694.000000  2371.0  ...    NaN
2022-04-06  1635.0  3635.0  1954.000000  687.000000  2351.0  ...    NaN
2022-04-07  1610.0  3630.0  1968.000000  682.000000  2331.0  ...    NaN
2022-04-08  1625.0  3700.0  1980.000000  679.000000  2344.0  ...    NaN
2022-04-11  1622.0  4045.0  1974.000000  686.000000  2328.0  ...    NaN
2022-04-12  1611.0  4120.0  1971.000000  680.000000  2330.0  ...    NaN
2022-04-13  1582.0  4155.0  1991.000000  684.000000  2324.0  ...    NaN
2022-04-14  1603.0  4065.0  1970.000000  682.000000  2346.0  ...    NaN
2022-04-15  1581.0  4015.0  1971.000000  680.000000  2358.0  ...    NaN
2022-04-18  1582.0  4000.0  1964.000000  680.000000  2338.0  ...    NaN
2022-04-19  1636.0  4095.0  1962.000000  675.000000  2331.0  ...    NaN
2022-04-20  1640.0  4165.0  1996.000000  677.000000  2353.0  ...    NaN
2022-04-21  1653.0  4240.0  1994.000000  679.000000  2332.0  ...    NaN

Attributes
Symbols    1951.T 25935.T 3658.T 6271.T 6541.T 7758.T 7862.T 8287.T 9358.T
Date
2022-03-24    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-03-25    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-03-28    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-03-29    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-03-30    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-03-31    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-01    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-04    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-05    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-06    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-07    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-08    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-11    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-12    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-13    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-14    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-15    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-18    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-19    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-20    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-21    NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

[21 rows x 15954 columns]

In [5]:
df_stock1.to_csv('data/stock_20220421.csv')

In [3]:
# indexの順番を入れ替えて、ソート
df_stock1 = df_stock.swaplevel('Attributes','Symbols', axis=1)
df_stock1.sort_values(by=['Symbols', 'Attributes'], axis=1, inplace=True)

In [106]:
# 直近5日分のデータを取得して行と列を入れ替え
df_stock2 = df_stock1.tail(5)

In [107]:
# indexを再配番
df_stock2 = df_stock2.reset_index()

In [108]:
# 日付行を削除し、行と列を入れ替え
df_stock2 = df_stock2.drop(columns=['Date']).T

C:\Users\ricew\anaconda3\lib\site-packages\pandas\core\generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [109]:
# インデックスを株価コードに、カラムをそれぞれの価格に変更
df_stock3 = df_stock2.pivot_table(index='Symbols', columns='Attributes')

In [110]:
df_stock3

                      0                                             \
Attributes    Adj Close   Close    High     Low    Open     Volume
Symbols
1301.T      3215.000000  3215.0  3225.0  3210.0  3215.0     8700.0
1332.T       560.000000   560.0   565.0   556.0   562.0  1815500.0
1333.T      2629.000000  2629.0  2649.0  2621.0  2626.0    97100.0
1352.T       820.000000   820.0   820.0   817.0   817.0      200.0
1375.T      1215.000000  1215.0  1224.0  1214.0  1218.0    35400.0
...                 ...     ...     ...     ...     ...        ...
9991.T       828.000000   828.0   830.0   808.0   808.0    22800.0
9993.T      1635.613647  1649.0  1657.0  1636.0  1657.0    61400.0
9994.T      2549.000000  2549.0  2549.0  2524.0  2530.0     7200.0
9995.T       439.000000   439.0   442.0   438.0   438.0   103800.0
9997.T       736.000000   736.0   736.0   716.0   722.0   176100.0

                      1                          ...       3                  \
Attributes    Adj Close   Close    High     Low  ...    High     Low    Open
Symbols                                          ...
1301.T      3205.000000  3205.0  3215.0  3190.0  ...  3205.0  3175.0  3195.0
1332.T       550.000000   550.0   553.0   547.0  ...   540.0   526.0   540.0
1333.T      2579.000000  2579.0  2608.0  2570.0  ...  2525.0  2476.0  2520.0
1352.T       817.000000   817.0   825.0   817.0  ...   833.0   817.0   825.0
1375.T      1221.000000  1221.0  1227.0  1205.0  ...  1206.0  1184.0  1196.0
...                 ...     ...     ...     ...  ...     ...     ...     ...
9991.T       828.000000   828.0   831.0   819.0  ...   829.0   812.0   829.0
9993.T      1646.524414  1660.0  1660.0  1627.0  ...  1670.0  1660.0  1670.0
9994.T      2564.000000  2564.0  2565.0  2541.0  ...  2528.0  2502.0  2521.0
9995.T       434.000000   434.0   437.0   430.0  ...   435.0   423.0   433.0
9997.T       727.000000   727.0   729.0   719.0  ...   725.0   708.0   709.0

                              4
Attributes     Volume Adj Close   Close    High     Low    Open     Volume
Symbols
1301.T        15200.0    3150.0  3150.0  3185.0  3135.0  3160.0    22200.0
1332.T      3108600.0     532.0   532.0   533.0   525.0   528.0  2349400.0
1333.T       167600.0    2453.0  2453.0  2501.0  2442.0  2494.0   200700.0
1352.T         4100.0     841.0   841.0   841.0   824.0   824.0     1900.0
1375.T        62200.0    1170.0  1170.0  1185.0  1165.0  1185.0   111100.0
...               ...       ...     ...     ...     ...     ...        ...
9991.T        27700.0     813.0   813.0   835.0   813.0   835.0    17400.0
9993.T        19100.0    1605.0  1605.0  1642.0  1605.0  1642.0    16500.0
9994.T        10600.0    2545.0  2545.0  2556.0  2528.0  2528.0    12300.0
9995.T        78800.0     432.0   432.0   436.0   430.0   435.0   270500.0
9997.T       195600.0     733.0   733.0   738.0   724.0   725.0   170500.0

[2654 rows x 30 columns]

In [59]:
df_stock3 = df_stock3.swaplevel(0,1, axis=1)

In [68]:
# マルチカラムをリセット
df_stock3 = df_stock3.T.reset_index(drop=False).T

In [98]:
# 既存のカラムを削除
df_stock4 = df_stock3.drop(df_stock3.index[[0,1]])

In [103]:
df_stock4

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
Symbols,,,,,,,,,,,,,,,,,,,,,
1301.T,3215.0,3215.0,3225.0,3210.0,3215.0,8700.0,3205.0,3205.0,3215.0,3190.0,...,3205.0,3175.0,3195.0,15200.0,3150.0,3150.0,3185.0,3135.0,3160.0,22200.0
1332.T,560.0,560.0,565.0,556.0,562.0,1815500.0,550.0,550.0,553.0,547.0,...,540.0,526.0,540.0,3108600.0,532.0,532.0,533.0,525.0,528.0,2349400.0
1333.T,2629.0,2629.0,2649.0,2621.0,2626.0,97100.0,2579.0,2579.0,2608.0,2570.0,...,2525.0,2476.0,2520.0,167600.0,2453.0,2453.0,2501.0,2442.0,2494.0,200700.0
1352.T,820.0,820.0,820.0,817.0,817.0,200.0,817.0,817.0,825.0,817.0,...,833.0,817.0,825.0,4100.0,841.0,841.0,841.0,824.0,824.0,1900.0
1375.T,1215.0,1215.0,1224.0,1214.0,1218.0,35400.0,1221.0,1221.0,1227.0,1205.0,...,1206.0,1184.0,1196.0,62200.0,1170.0,1170.0,1185.0,1165.0,1185.0,111100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991.T,828.0,828.0,830.0,808.0,808.0,22800.0,828.0,828.0,831.0,819.0,...,829.0,812.0,829.0,27700.0,813.0,813.0,835.0,813.0,835.0,17400.0
9993.T,1635.613647,1649.0,1657.0,1636.0,1657.0,61400.0,1646.524414,1660.0,1660.0,1627.0,...,1670.0,1660.0,1670.0,19100.0,1605.0,1605.0,1642.0,1605.0,1642.0,16500.0
9994.T,2549.0,2549.0,2549.0,2524.0,2530.0,7200.0,2564.0,2564.0,2565.0,2541.0,...,2528.0,2502.0,2521.0,10600.0,2545.0,2545.0,2556.0,2528.0,2528.0,12300.0
9995.T,439.0,439.0,442.0,438.0,438.0,103800.0,434.0,434.0,437.0,430.0,...,435.0,423.0,433.0,78800.0,432.0,432.0,436.0,430.0,435.0,270500.0
9997.T,736.0,736.0,736.0,716.0,722.0,176100.0,727.0,727.0,729.0,719.0,...,725.0,708.0,709.0,195600.0,733.0,733.0,738.0,724.0,725.0,170500.0