In [1]:
# 実行は必ず20時以降、翌日の8時前に実施する
import numpy as np
import pandas as pd
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame

In [20]:
filedate = '20220316'

In [21]:
df_stock = pd.read_csv('data/kabu_stock_' + filedate +'.csv', index_col=0, header=[0,1], parse_dates=[0])

In [22]:
df_stock

Attributes Adj Close                                                         \
Symbols       1301.T 1332.T  1333.T  1352.T  1375.T  1376.T  1377.T  1379.T
Date
2022-02-15    3215.0  558.0  2630.0   820.0  1236.0  1563.0  3450.0  1968.0
2022-02-16    3220.0  558.0  2652.0   822.0  1251.0  1579.0  3470.0  1979.0
2022-02-17    3225.0  571.0  2647.0   821.0  1218.0  1568.0  3395.0  1965.0
2022-02-18    3215.0  560.0  2629.0   820.0  1215.0  1577.0  3420.0  1980.0
2022-02-21    3205.0  550.0  2579.0   817.0  1221.0  1546.0  3400.0  1959.0
2022-02-22    3200.0  542.0  2542.0   817.0  1190.0  1529.0  3370.0  1955.0
2022-02-24    3195.0  533.0  2509.0   833.0  1202.0  1533.0  3390.0  1980.0
2022-02-25    3150.0  532.0  2453.0   841.0  1170.0  1578.0  3350.0  1952.0
2022-02-28    3265.0  544.0  2515.0   880.0  1201.0  1570.0  3375.0  1971.0
2022-03-01    3250.0  537.0  2488.0  1030.0  1211.0  1513.0  3355.0  1955.0
2022-03-02    3225.0  524.0  2433.0  1217.0  1199.0  1502.0  3380.0  1956.0
2022-03-03    3230.0  537.0  2469.0  1217.0  1192.0  1509.0  3440.0  1958.0
2022-03-04    3220.0  538.0  2448.0  1217.0  1199.0  1540.0  3425.0  1960.0
2022-03-07    3270.0  524.0  2429.0  1217.0  1170.0  1598.0  3405.0  1965.0
2022-03-08    3225.0  507.0  2350.0  1217.0  1149.0  1531.0  3365.0  1952.0
2022-03-09    3215.0  499.0  2333.0  1217.0  1097.0  1489.0  3455.0  1951.0
2022-03-10    3265.0  535.0  2427.0  1217.0  1149.0  1581.0  3540.0  1974.0
2022-03-11    3245.0  538.0  2446.0  1217.0  1129.0  1563.0  3615.0  1970.0
2022-03-14    3240.0  560.0  2501.0  1218.0  1135.0  1610.0  3655.0  1961.0
2022-03-15    3265.0  566.0  2541.0  1217.0  1155.0  1630.0  3700.0  1989.0
2022-03-16    3310.0  563.0  2510.0  1218.0  1147.0  1602.0  3670.0  1980.0

Attributes                 ...   Volume                                       \
Symbols    1384.T  1413.T  ...   9993.T   9994.T    9995.T    9997.T 25935.T
Date                       ...
2022-02-15  687.0  2362.0  ...   5700.0  12000.0   87800.0  177900.0     NaN
2022-02-16  694.0  2377.0  ...   2500.0   7400.0   35100.0  126400.0     NaN
2022-02-17  688.0  2355.0  ...   4800.0   4300.0   53800.0  304200.0     NaN
2022-02-18  689.0  2365.0  ...  61400.0   7200.0  103800.0  176100.0     NaN
2022-02-21  687.0  2384.0  ...  17800.0  11200.0   78400.0  116400.0     NaN
2022-02-22  683.0  2372.0  ...   5600.0   6900.0   40700.0  225500.0     NaN
2022-02-24  676.0  2341.0  ...  19100.0  10600.0   78800.0  195600.0     NaN
2022-02-25  683.0  2347.0  ...  16500.0  12300.0  270500.0  170500.0     NaN
2022-02-28  689.0  2353.0  ...   4000.0   9000.0   95100.0  288100.0     NaN
2022-03-01  685.0  2350.0  ...   6100.0  10900.0   51400.0  243100.0     NaN
2022-03-02  687.0  2276.0  ...   3300.0   8100.0   53500.0  187600.0     NaN
2022-03-03  687.0  2294.0  ...   1800.0   7200.0   55000.0  163600.0     NaN
2022-03-04  685.0  2282.0  ...   3000.0   6500.0   68200.0  354800.0     NaN
2022-03-07  688.0  2251.0  ...   2900.0   6900.0   75500.0  380700.0     NaN
2022-03-08  681.0  2217.0  ...   3400.0  11700.0  157800.0  376600.0     NaN
2022-03-09  683.0  2188.0  ...   2900.0   6800.0  233800.0  182400.0     NaN
2022-03-10  699.0  2286.0  ...   4300.0   8400.0  197300.0  322700.0     NaN
2022-03-11  692.0  2270.0  ...   4500.0   7300.0   75200.0  246900.0     NaN
2022-03-14  699.0  2261.0  ...   2400.0  16800.0  178800.0  177400.0     NaN
2022-03-15  687.0  2286.0  ...   2200.0   8400.0   76300.0  226700.0     NaN
2022-03-16  694.0  2295.0  ...   3000.0   8300.0   78700.0  334200.0     NaN

Attributes
Symbols    3658.T 6271.T 6541.T 7862.T 8287.T
Date
2022-02-15    NaN    NaN    NaN    NaN    NaN
2022-02-16    NaN    NaN    NaN    NaN    NaN
2022-02-17    NaN    NaN    NaN    NaN    NaN
2022-02-18    NaN    NaN    NaN    NaN    NaN
2022-02-21    NaN    NaN    NaN    NaN    NaN
2022-02-22    NaN    NaN    NaN    NaN    NaN
2022-02-24    NaN    NaN    NaN    NaN    NaN
2022-02-25    NaN    NaN    NaN    NaN    NaN
2022-02-28    NaN    NaN    NaN    NaN    NaN
2022-03-01    NaN    NaN    NaN    NaN    NaN
2022-03-02    NaN    NaN    NaN    NaN    NaN
2022-03-03    NaN    NaN    NaN    NaN    NaN
2022-03-04    NaN    NaN    NaN    NaN    NaN
2022-03-07    NaN    NaN    NaN    NaN    NaN
2022-03-08    NaN    NaN    NaN    NaN    NaN
2022-03-09    NaN    NaN    NaN    NaN    NaN
2022-03-10    NaN    NaN    NaN    NaN    NaN
2022-03-11    NaN    NaN    NaN    NaN    NaN
2022-03-14    NaN    NaN    NaN    NaN    NaN
2022-03-15    NaN    NaN    NaN    NaN    NaN
2022-03-16    NaN    NaN    NaN    NaN    NaN

[21 rows x 15954 columns]

In [17]:
# indexの順番を入れ替えて、ソート
df_stock1 = df_stock.swaplevel('Attributes','Symbols', axis=1)
df_stock1.sort_values(by=['Symbols', 'Attributes'], axis=1, inplace=True)

In [18]:
# 直近5日分のデータを取得
df_stock2 = df_stock1.tail(5).T

In [19]:
df_stock2

Date                2022-03-10  2022-03-11  2022-03-14  2022-03-15  2022-03-16
Symbols Attributes
1301.T  Adj Close       3265.0      3245.0      3240.0      3265.0         NaN
        Close           3265.0      3245.0      3240.0      3265.0         NaN
        High            3270.0      3265.0      3270.0      3290.0         NaN
        Low             3235.0      3220.0      3200.0      3230.0         NaN
        Open            3260.0      3220.0      3200.0      3230.0         NaN
...                        ...         ...         ...         ...         ...
9997.T  Close            683.0       677.0         NaN         NaN       696.0
        High             689.0       684.0         NaN         NaN       705.0
        Low              666.0       671.0         NaN         NaN       695.0
        Open             666.0       674.0         NaN         NaN       705.0
        Volume        322700.0    246900.0         NaN         NaN     39600.0

[15954 rows x 5 columns]

In [38]:
# インデックスを株価コードに、カラムをそれぞれの価格に変更
df_stock3 = df_stock2.pivot_table(index='Symbols', columns='Attributes')

In [39]:
# マルチカラムをリセット
df_stock3 = df_stock3.T.reset_index(drop=False).T

In [40]:
# 既存のカラムを削除
df_stock4 = df_stock3.drop(df_stock3.index[[0,1]])

In [41]:
df_stock4.loc['4642.T']

0     850.0
1     850.0
2     850.0
3     850.0
4     850.0
5       0.0
6     853.0
7     853.0
8     869.0
9     853.0
10    869.0
11    700.0
12    867.0
13    867.0
14    867.0
15    853.0
16    853.0
17    500.0
18    868.0
19    868.0
20    868.0
21    868.0
22    868.0
23    100.0
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
Name: 4642.T, dtype: object

In [14]:
# 日付行を削除し、行と列を入れ替え
df_stock2 = df_stock2.drop(columns=['Date']).T

KeyError: 'Date'

In [16]:
# マルチインデックスのカラム名を取得する
list = df_stock2.columns.get_level_values('Symbols')

In [18]:
# High-Lowの計算結果を新たな列として追加
for i in list: 
    df_stock2[i, 'diff'] = df_stock2[i, 'High'] - df_stock2[i, 'Low']
    df_stock2[i, 'eighty'] = df_stock2[i, 'High'] - df_stock2[i, 'diff'] * 0.2
    df_stock2[i, 'twenty'] = df_stock2[i, 'Low'] + df_stock2[i, 'diff'] * 0.2

C:\Users\ricew\AppData\Local\Temp/ipykernel_4212/3256843215.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_stock2[i, 'diff'] = df_stock2[i, 'High'] - df_stock2[i, 'Low']
C:\Users\ricew\AppData\Local\Temp/ipykernel_4212/3256843215.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_stock2[i, 'eighty'] = df_stock2[i, 'High'] - df_stock2[i, 'diff'] * 0.2
C:\Users\ricew\AppData\Local\Temp/ipykernel_4212/3256843215.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_stock2[i, 'twenty'] = df_stock2[i, 'Low'] + df_stock2[i, 'diff'] * 0.2

In [19]:
# RSIの計算
def rsi(df):
    # 前日との差分を計算
    df_diff = df[i,"Close"].diff(1)

    # 計算用のDataFrameを定義
    df_up, df_down = df_diff.copy(), df_diff.copy()
    
    # df_upはマイナス値を0に変換
    # df_downはプラス値を0に変換して正負反転
    df_up[df_up < 0] = 0
    df_down[df_down > 0] = 0
    df_down = df_down * -1
    
    # 期間03でそれぞれの平均を算出
    df_up_sma03 = df_up.rolling(window=3, center=False).mean()
    df_down_sma03 = df_down.rolling(window=3, center=False).mean()

    # RSIを算出
    df[i, "RSI"] = 100.0 * (df_up_sma03 / (df_up_sma03 + df_down_sma03))

    return df

for i in list: 
    df_stock2 = rsi(df_stock2)

C:\Users\ricew\AppData\Local\Temp/ipykernel_4212/2502226233.py:20: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[i, "RSI"] = 100.0 * (df_up_sma03 / (df_up_sma03 + df_down_sma03))

In [20]:
df_stock2.sort_values(by=['Symbols', 'Attributes'], axis=1, inplace=True)

In [21]:
df_stock2

Symbols       1301.T                                                       \
Attributes Adj Close   Close    High     Low    Open         RSI   Volume
Date
2022-01-17    3125.0  3125.0  3125.0  3105.0  3120.0         NaN   7500.0
2022-01-18    3115.0  3115.0  3135.0  3115.0  3135.0         NaN  13000.0
2022-01-19    3055.0  3055.0  3115.0  3055.0  3115.0         NaN  18100.0
2022-01-20    3060.0  3060.0  3105.0  3060.0  3080.0    6.666667  13800.0
2022-01-21    3095.0  3095.0  3105.0  3060.0  3060.0   40.000000   6400.0
2022-01-24    3145.0  3145.0  3145.0  3085.0  3095.0  100.000000  13300.0
2022-01-25    3130.0  3130.0  3130.0  3105.0  3130.0   85.000000   8300.0
2022-01-26    3130.0  3130.0  3160.0  3105.0  3120.0   76.923077  23500.0
2022-01-27    3110.0  3110.0  3150.0  3100.0  3130.0    0.000000  20100.0
2022-01-28    3095.0  3095.0  3135.0  3095.0  3115.0    0.000000  14200.0
2022-01-31    3150.0  3150.0  3150.0  3110.0  3145.0   61.111111   9700.0
2022-02-01    3165.0  3165.0  3170.0  3140.0  3155.0   82.352941  10800.0
2022-02-02    3230.0  3230.0  3235.0  3160.0  3170.0  100.000000  23500.0
2022-02-03    3240.0  3240.0  3250.0  3210.0  3240.0  100.000000  15600.0
2022-02-04    3250.0  3250.0  3270.0  3200.0  3250.0  100.000000  43500.0
2022-02-07    3170.0  3170.0  3230.0  3170.0  3210.0   20.000000  13600.0
2022-02-08    3245.0  3245.0  3255.0  3160.0  3160.0   51.515152  17100.0
2022-02-09    3230.0  3230.0  3250.0  3230.0  3235.0   44.117647   8900.0
2022-02-10    3245.0  3245.0  3245.0  3225.0  3230.0   85.714286  10900.0
2022-02-14    3235.0  3235.0  3245.0  3205.0  3230.0   37.500000   9500.0
2022-02-15    3215.0  3215.0  3240.0  3210.0  3235.0   33.333333  12400.0

Symbols                           ...    9997.T                              \
Attributes  diff  eighty  twenty  ... Adj Close  Close   High    Low   Open
Date                              ...
2022-01-17  20.0  3121.0  3109.0  ...     733.0  733.0  738.0  718.0  725.0
2022-01-18  20.0  3131.0  3119.0  ...     737.0  737.0  756.0  729.0  736.0
2022-01-19  60.0  3103.0  3067.0  ...     708.0  708.0  730.0  707.0  727.0
2022-01-20  45.0  3096.0  3069.0  ...     712.0  712.0  718.0  706.0  706.0
2022-01-21  45.0  3096.0  3069.0  ...     724.0  724.0  724.0  706.0  712.0
2022-01-24  60.0  3133.0  3097.0  ...     726.0  726.0  727.0  710.0  716.0
2022-01-25  25.0  3125.0  3110.0  ...     715.0  715.0  720.0  706.0  719.0
2022-01-26  55.0  3149.0  3116.0  ...     714.0  714.0  722.0  712.0  718.0
2022-01-27  50.0  3140.0  3110.0  ...     698.0  698.0  720.0  692.0  718.0
2022-01-28  40.0  3127.0  3103.0  ...     708.0  708.0  710.0  701.0  708.0
2022-01-31  40.0  3142.0  3118.0  ...     722.0  722.0  723.0  707.0  709.0
2022-02-01  30.0  3164.0  3146.0  ...     732.0  732.0  757.0  726.0  728.0
2022-02-02  75.0  3220.0  3175.0  ...     755.0  755.0  758.0  737.0  737.0
2022-02-03  40.0  3242.0  3218.0  ...     747.0  747.0  749.0  734.0  748.0
2022-02-04  70.0  3256.0  3214.0  ...     751.0  751.0  753.0  736.0  739.0
2022-02-07  60.0  3218.0  3182.0  ...     753.0  753.0  753.0  738.0  749.0
2022-02-08  95.0  3236.0  3179.0  ...     758.0  758.0  762.0  752.0  754.0
2022-02-09  20.0  3246.0  3234.0  ...     763.0  763.0  774.0  758.0  764.0
2022-02-10  20.0  3241.0  3229.0  ...     761.0  761.0  771.0  758.0  771.0
2022-02-14  40.0  3237.0  3213.0  ...     749.0  749.0  752.0  743.0  750.0
2022-02-15  30.0  3234.0  3216.0  ...       NaN    NaN    NaN    NaN    NaN

Symbols
Attributes         RSI    Volume  diff eighty twenty
Date
2022-01-17         NaN  271000.0  20.0  734.0  722.0
2022-01-18         NaN  400400.0  27.0  750.6  734.4
2022-01-19         NaN  355400.0  23.0  725.4  711.6
2022-01-20   21.621622  234700.0  12.0  715.6  708.4
2022-01-21   35.555556  201700.0  18.0  720.4  709.6
2022-01-24  100.000000  182900.0  17.0  723.6  713.4
2022-01-25   56.000000  205500.0  14.0  717.2  708.8
2022-01-26   14.285714  187300.0  10.0  720.0  714.0
2022-01-27    0.000000  322400.0  28.0  714.4  697.6
2022-01-28   37.037037  165900.0   9.0  708.2  702.8
2022-01-31   60.000000  278200.0  16.0  719.8  710.2
2022-02-01  100.000000  478300.0  31.0  750.8  732.2
2022-02-02  100.000000  351200.0  21.0  753.8  741.2
2022-02-03   80.487805  182700.0  15.0  746.0  737.0
2022-02-04   77.142857  231700.0  17.0  749.6  739.4
2022-02-07   42.857143  179700.0  15.0  750.0  741.0
2022-02-08  100.000000  152500.0  10.0  760.0  754.0
2022-02-09  100.000000  194600.0  16.0  770.8  761.2
2022-02-10   83.333333  160400.0  13.0  768.4  760.6
2022-02-14   26.315789  153700.0   9.0  750.2  744.8
2022-02-15         NaN       NaN   NaN    NaN    NaN

[21 rows x 26590 columns]