In [1]:
import pandas as pd

In [33]:
# 予想前日の株価データ
df_stock = pd.read_csv('data/stock_20220426.csv', index_col=None, header=None, parse_dates=[0])

In [49]:
df_stock

,0,1,2,3,4,5,6,7,8,9,...,15945,15946,15947,15948,15949,15950,15951,15952,15953,15954
0,Attributes,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,...,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume
1,Symbols,1301.T,1332.T,1333.T,1352.T,1375.T,1376.T,1377.T,1379.T,1384.T,...,1737.T,2281.T,25935.T,3658.T,6271.T,6541.T,7758.T,7862.T,8287.T,9358.T
2,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-03-28,3419.22412109375,577.939208984375,2515.811279296875,1199.016357421875,1174.4542236328125,1594.0,3805.0,1939.8487548828125,692.0634155273438,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-03-29,3390.0,571.0,2504.0,1200.0,1152.0,1629.0,3755.0,1934.0,695.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2022-03-30,3355.0,558.0,2444.0,1219.0,1164.0,1630.0,3715.0,1922.0,691.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2022-03-31,3330.0,548.0,2397.0,1219.0,1141.0,1597.0,3710.0,1906.0,693.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2022-04-01,3435.0,549.0,2411.0,1220.0,1173.0,1632.0,3715.0,1940.0,698.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2022-04-04,3420.0,555.0,2438.0,1220.0,1176.0,1617.0,3725.0,1953.0,692.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2022-04-05,3405.0,551.0,2414.0,1219.0,1197.0,1646.0,3675.0,1980.0,694.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2022-04-06,3385.0,538.0,2374.0,1219.0,1206.0,1635.0,3635.0,1954.0,687.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2022-04-07,3330.0,540.0,2401.0,1219.0,1197.0,1610.0,3630.0,1968.0,682.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2022-04-08,3275.0,552.0,2411.0,1219.0,1189.0,1625.0,3700.0,1980.0,679.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2022-04-11,3250.0,557.0,2397.0,1218.0,1181.0,1622.0,4045.0,1974.0,686.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2022-04-12,3220.0,555.0,2347.0,1216.0,1147.0,1611.0,4120.0,1971.0,680.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2022-04-13,3260.0,558.0,2374.0,1218.0,1146.0,1582.0,4155.0,1991.0,684.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2022-04-14,3260.0,563.0,2391.0,1217.0,1143.0,1603.0,4065.0,1970.0,682.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2022-04-15,3235.0,555.0,2365.0,1217.0,1134.0,1581.0,4015.0,1971.0,680.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2022-04-18,3205.0,547.0,2342.0,1218.0,1120.0,1582.0,4000.0,1964.0,680.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2022-04-19,3185.0,551.0,2362.0,1218.0,1131.0,1636.0,4095.0,1962.0,675.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2022-04-20,3225.0,571.0,2404.0,1217.0,1116.0,1640.0,4165.0,1996.0,677.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2022-04-21,3250.0,575.0,2393.0,1218.0,1132.0,1653.0,4240.0,1994.0,679.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2022-04-22,3245.0,568.0,2375.0,1217.0,1113.0,1629.0,4225.0,1989.0,678.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2022-04-25,3220.0,562.0,2359.0,1217.0,1072.0,1700.0,4325.0,1998.0,671.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2022-04-26,3265.0,567.0,2382.0,1217.0,1070.0,1684.0,4290.0,2010.0,669.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
indexv = df_stock.iloc[3:,0]
indexv

3     2022-03-28
4     2022-03-29
5     2022-03-30
6     2022-03-31
7     2022-04-01
8     2022-04-04
9     2022-04-05
10    2022-04-06
11    2022-04-07
12    2022-04-08
13    2022-04-11
14    2022-04-12
15    2022-04-13
16    2022-04-14
17    2022-04-15
18    2022-04-18
19    2022-04-19
20    2022-04-20
21    2022-04-21
22    2022-04-22
23    2022-04-25
24    2022-04-26
Name: 0, dtype: object

In [51]:
columnsa = df_stock.iloc[0,1:]
columnsa

1        Adj Close
2        Adj Close
3        Adj Close
4        Adj Close
5        Adj Close
           ...
15950       Volume
15951       Volume
15952       Volume
15953       Volume
15954       Volume
Name: 0, Length: 15954, dtype: object

In [52]:
columnsb = df_stock.iloc[1,1:]
columnsb

1        1301.T
2        1332.T
3        1333.T
4        1352.T
5        1375.T
          ...
15950    6541.T
15951    7758.T
15952    7862.T
15953    8287.T
15954    9358.T
Name: 1, Length: 15954, dtype: object

In [53]:
values = df_stock.iloc[3:,1:]
values

,1,2,3,4,5,6,7,8,9,10,...,15945,15946,15947,15948,15949,15950,15951,15952,15953,15954
3,3419.22412109375,577.939208984375,2515.811279296875,1199.016357421875,1174.4542236328125,1594.0,3805.0,1939.8487548828125,692.0634155273438,2386.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3390.0,571.0,2504.0,1200.0,1152.0,1629.0,3755.0,1934.0,695.0,2370.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3355.0,558.0,2444.0,1219.0,1164.0,1630.0,3715.0,1922.0,691.0,2388.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3330.0,548.0,2397.0,1219.0,1141.0,1597.0,3710.0,1906.0,693.0,2354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3435.0,549.0,2411.0,1220.0,1173.0,1632.0,3715.0,1940.0,698.0,2343.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3420.0,555.0,2438.0,1220.0,1176.0,1617.0,3725.0,1953.0,692.0,2368.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3405.0,551.0,2414.0,1219.0,1197.0,1646.0,3675.0,1980.0,694.0,2371.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,3385.0,538.0,2374.0,1219.0,1206.0,1635.0,3635.0,1954.0,687.0,2351.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3330.0,540.0,2401.0,1219.0,1197.0,1610.0,3630.0,1968.0,682.0,2331.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3275.0,552.0,2411.0,1219.0,1189.0,1625.0,3700.0,1980.0,679.0,2344.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,3250.0,557.0,2397.0,1218.0,1181.0,1622.0,4045.0,1974.0,686.0,2328.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,3220.0,555.0,2347.0,1216.0,1147.0,1611.0,4120.0,1971.0,680.0,2330.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,3260.0,558.0,2374.0,1218.0,1146.0,1582.0,4155.0,1991.0,684.0,2324.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,3260.0,563.0,2391.0,1217.0,1143.0,1603.0,4065.0,1970.0,682.0,2346.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3235.0,555.0,2365.0,1217.0,1134.0,1581.0,4015.0,1971.0,680.0,2358.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,3205.0,547.0,2342.0,1218.0,1120.0,1582.0,4000.0,1964.0,680.0,2338.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3185.0,551.0,2362.0,1218.0,1131.0,1636.0,4095.0,1962.0,675.0,2331.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,3225.0,571.0,2404.0,1217.0,1116.0,1640.0,4165.0,1996.0,677.0,2353.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,3250.0,575.0,2393.0,1218.0,1132.0,1653.0,4240.0,1994.0,679.0,2332.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,3245.0,568.0,2375.0,1217.0,1113.0,1629.0,4225.0,1989.0,678.0,2337.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,3220.0,562.0,2359.0,1217.0,1072.0,1700.0,4325.0,1998.0,671.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,3265.0,567.0,2382.0,1217.0,1070.0,1684.0,4290.0,2010.0,669.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df_stock2 = pd.DataFrame(values,index=indexv, columns=[columnsa, columnsb])

In [56]:
df_stock2

0          Adj Close                                                          \
1             1301.T 1332.T 1333.T 1352.T 1375.T 1376.T 1377.T 1379.T 1384.T
0
2022-03-28       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-03-29       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-03-30       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-03-31       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-01       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-04       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-05       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-06       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-07       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-08       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-11       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-12       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-13       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-14       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-15       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-18       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-19       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-20       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-21       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-22       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-25       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2022-04-26       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

0                  ... Volume                                             \
1          1413.T  ... 1737.T 2281.T 25935.T 3658.T 6271.T 6541.T 7758.T
0                  ...
2022-03-28    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-03-29    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-03-30    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-03-31    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-01    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-04    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-05    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-06    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-07    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-08    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-11    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-12    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-13    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-14    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-15    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-18    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-19    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-20    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-21    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-22    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-25    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN
2022-04-26    NaN  ...    NaN    NaN     NaN    NaN    NaN    NaN    NaN

0
1          7862.T 8287.T 9358.T
0
2022-03-28    NaN    NaN    NaN
2022-03-29    NaN    NaN    NaN
2022-03-30    NaN    NaN    NaN
2022-03-31    NaN    NaN    NaN
2022-04-01    NaN    NaN    NaN
2022-04-04    NaN    NaN    NaN
2022-04-05    NaN    NaN    NaN
2022-04-06    NaN    NaN    NaN
2022-04-07    NaN    NaN    NaN
2022-04-08    NaN    NaN    NaN
2022-04-11    NaN    NaN    NaN
2022-04-12    NaN    NaN    NaN
2022-04-13    NaN    NaN    NaN
2022-04-14    NaN    NaN    NaN
2022-04-15    NaN    NaN    NaN
2022-04-18    NaN    NaN    NaN
2022-04-19    NaN    NaN    NaN
2022-04-20    NaN    NaN    NaN
2022-04-21    NaN    NaN    NaN
2022-04-22    NaN    NaN    NaN
2022-04-25    NaN    NaN    NaN
2022-04-26    NaN    NaN    NaN

[22 rows x 15954 columns]

In [57]:
df_stock2u = df_stock2.unstack()

In [58]:
df_stock2.index

Index(['2022-03-28', '2022-03-29', '2022-03-30', '2022-03-31', '2022-04-01',
       '2022-04-04', '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
       '2022-04-11', '2022-04-12', '2022-04-13', '2022-04-14', '2022-04-15',
       '2022-04-18', '2022-04-19', '2022-04-20', '2022-04-21', '2022-04-22',
       '2022-04-25', '2022-04-26'],
      dtype='object', name=0)

In [59]:
df_stock2.columns

MultiIndex([('Adj Close',  '1301.T'),
            ('Adj Close',  '1332.T'),
            ('Adj Close',  '1333.T'),
            ('Adj Close',  '1352.T'),
            ('Adj Close',  '1375.T'),
            ('Adj Close',  '1376.T'),
            ('Adj Close',  '1377.T'),
            ('Adj Close',  '1379.T'),
            ('Adj Close',  '1384.T'),
            ('Adj Close',  '1413.T'),
            ...
            (   'Volume',  '1737.T'),
            (   'Volume',  '2281.T'),
            (   'Volume', '25935.T'),
            (   'Volume',  '3658.T'),
            (   'Volume',  '6271.T'),
            (   'Volume',  '6541.T'),
            (   'Volume',  '7758.T'),
            (   'Volume',  '7862.T'),
            (   'Volume',  '8287.T'),
            (   'Volume',  '9358.T')],
           names=[0, 1], length=15954)

In [24]:
df_stock2.pivot(index=[index, 'Symbols'], columns='Attributes')

KeyError: "None of ['Symbols'] are in the columns"