In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame
import pandas_datareader.data as web

In [2]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [3]:
# どの日付を起点にするかここでコントロールする
# datetime.date(20XX, X, XX)
# today = dt.date.today()
today = dt.date.today() - dt.timedelta(days = 4)
# YYYYMMDD
format(today, "'%Y-%m-%d'")

"'2022-05-10'"

In [4]:
query = "select trading_date from stock.kb_values where DATE(`trading_date`) <= " + format(today, "'%Y-%m-%d'") + "group by trading_date order by trading_date desc"
df_seldate = pd.read_sql(query,con = engine)

In [5]:
# 日付（取引日）の範囲抽出　始まりの日付(上記Todayを含む4日分)
start = df_seldate.iat[3,0]

In [6]:
query = "select * from stock.kb_values where trading_date >= " + format(start, "'%Y-%m-%d'") + " and trading_date <= "  + format(today, "'%Y-%m-%d'")

In [7]:
df_values = pd.read_sql(query,con = engine)

In [8]:
df_values

      code trading_date  adjclose   close    high     low    open    volume
0     1301   2022-05-02    3295.0  3295.0  3305.0  3255.0  3265.0   12200.0
1     1301   2022-05-06    3290.0  3290.0  3305.0  3280.0  3305.0   11900.0
2     1301   2022-05-09    3260.0  3260.0  3290.0  3260.0  3290.0   13900.0
3     1301   2022-05-10    3225.0  3225.0  3255.0  3205.0  3235.0   12400.0
4     1376   2022-05-02    1795.0  1795.0  1868.0  1741.0  1799.0   31500.0
...    ...          ...       ...     ...     ...     ...     ...       ...
9697  9993   2022-05-10    1500.0  1500.0  1505.0  1500.0  1501.0    4900.0
9698  9997   2022-05-02     731.0   731.0   738.0   729.0   730.0  114200.0
9699  9997   2022-05-06     721.0   721.0   731.0   721.0   731.0  140800.0
9700  9997   2022-05-09     717.0   717.0   720.0   709.0   719.0  160300.0
9701  9997   2022-05-10     711.0   711.0   715.0   696.0   711.0  291000.0

[9702 rows x 8 columns]

In [9]:
# 最大値と最小値の差を抽出
df_values['diff'] = df_values['high'] - df_values['low']

In [10]:
# codeでグループ化
ddf = df_values.groupby('code')

In [11]:
# グループ化したものから差が最小となる行のみ抽出
df_selmin = df_values.loc[ddf['diff'].idxmin(),:]

In [12]:
# 最小値が起点日と一致している日付のみ抽出
code_lists = df_selmin[df_selmin['trading_date']  == today].code

In [13]:
# ddf.diff()グループ化した表のうち、それぞれ直前の行との差分を取得する
df_values2 = pd.merge(df_values, ddf.diff(), left_index=True, right_index=True)

In [14]:
# 最新日付のHighとLowの値がそれぞれ前日から減少および増加している行を抽出
df_idnr4 = df_values2[(df_values2['trading_date_x']  == today) & (df_values2['high_y'] < 0) & (df_values2['low_y'] > 0)]

In [15]:
# df_valuesからcode_listに含まれているcodeの行のみを抽出
df_idnr4 = df_idnr4.query('code in @code_lists.values')

In [16]:
df_idnr4['idnr4'] = 1

In [17]:
# 列名を置換え
df_idnr4 = df_idnr4.rename(columns={'trading_date_x':'trading_date', 'adjclose_x':'adjclose', 'close_x':'close', 'high_x':'high', 'low_x':'low', 'open_x':'open', 'volume_x':'volume', 'diff_x':'diff'})

In [19]:
df_idnr4

,code,trading_date,adjclose,close,high,low,open,volume,diff,trading_date_y,adjclose_y,close_y,high_y,low_y,open_y,volume_y,diff_y,idnr4
27,1382,2022-05-10,945.0,945.0,954.0,928.0,937.0,700.0,26.0,"1 day, 0:00:00",8.0,8.0,-36.0,6.0,-31.0,-9000.0,-42.0,1
127,1718,2022-05-10,3970.0,3970.0,3970.0,3970.0,3970.0,100.0,0.0,"1 day, 0:00:00",-10.0,-10.0,-10.0,20.0,20.0,-300.0,-30.0,1
199,1788,2022-05-10,2740.0,2740.0,2740.0,2740.0,2740.0,0.0,0.0,"1 day, 0:00:00",0.0,0.0,-10.0,1.0,1.0,-300.0,-11.0,1
309,1844,2022-05-10,193.0,193.0,194.0,193.0,194.0,14800.0,1.0,"1 day, 0:00:00",-2.0,-2.0,-1.0,1.0,0.0,300.0,-2.0,1
413,1905,2022-05-10,780.0,780.0,782.0,780.0,782.0,300.0,2.0,"1 day, 0:00:00",-4.0,-4.0,-9.0,5.0,6.0,-6500.0,-14.0,1
497,1951,2022-05-10,2187.0,2187.0,2193.0,2173.0,2178.0,387900.0,20.0,"1 day, 0:00:00",9.0,9.0,-2.0,9.0,-1.0,149400.0,-11.0,1
941,2408,2022-05-10,372.0,372.0,372.0,372.0,372.0,1600.0,0.0,"1 day, 0:00:00",0.0,0.0,-3.0,4.0,-3.0,-1700.0,-7.0,1
1207,2700,2022-05-10,4815.0,4815.0,4880.0,4780.0,4845.0,3100.0,100.0,"1 day, 0:00:00",-70.0,-70.0,-15.0,80.0,-10.0,-1900.0,-95.0,1
1446,2917,2022-05-10,807.0,807.0,807.0,807.0,807.0,100.0,0.0,"1 day, 0:00:00",0.0,0.0,-3.0,7.0,7.0,-2200.0,-10.0,1
1493,2961,2022-05-10,2401.0,2401.0,2401.0,2401.0,2401.0,200.0,0.0,"4 days, 0:00:00",-9.0,-9.0,-9.0,14.0,14.0,-200.0,-23.0,1
1861,3222,2022-05-10,1092.0,1092.0,1096.0,1087.0,1093.0,130000.0,9.0,"1 day, 0:00:00",10.0,10.0,-2.0,5.0,0.0,18900.0,-7.0,1
1973,3306,2022-05-10,362.0,362.0,362.0,362.0,362.0,100.0,0.0,"1 day, 0:00:00",1.0,1.0,-8.0,1.0,-3.0,-7300.0,-9.0,1
2315,3597,2022-05-10,7100.0,7100.0,7100.0,7100.0,7100.0,100.0,0.0,"1 day, 0:00:00",-70.0,-70.0,-70.0,10.0,10.0,-300.0,-80.0,1
2403,3665,2022-05-10,551.0,551.0,554.0,534.0,545.0,390600.0,20.0,"1 day, 0:00:00",1.0,1.0,-11.0,1.0,10.0,-483000.0,-12.0,1
2595,3841,2022-05-10,760.0,760.0,760.0,749.0,750.0,7400.0,11.0,"1 day, 0:00:00",4.0,4.0,-34.0,3.0,-44.0,-5900.0,-37.0,1
3318,4409,2022-05-10,518.0,518.0,518.0,514.0,514.0,900.0,4.0,"1 day, 0:00:00",5.0,5.0,-6.0,1.0,-10.0,-900.0,-7.0,1
3461,4551,2022-05-10,3115.0,3115.0,3135.0,3090.0,3090.0,26900.0,45.0,"1 day, 0:00:00",0.0,0.0,-45.0,5.0,-85.0,-7500.0,-50.0,1
3581,4645,2022-05-10,425.0,425.0,425.0,425.0,425.0,100.0,0.0,"1 day, 0:00:00",1.0,1.0,-5.0,1.0,-3.0,-2100.0,-6.0,1
3637,4676,2022-05-10,1137.0,1137.0,1141.0,1126.0,1130.0,280600.0,15.0,"1 day, 0:00:00",0.0,0.0,-4.0,4.0,-8.0,-123300.0,-8.0,1
4342,5423,2022-05-10,1381.0,1381.0,1393.0,1366.0,1377.0,1181700.0,27.0,"1 day, 0:00:00",-20.0,-20.0,-15.0,3.0,-5.0,-358600.0,-18.0,1
4497,5742,2022-05-10,778.0,778.0,783.0,778.0,778.0,1300.0,5.0,"1 day, 0:00:00",-7.0,-7.0,-11.0,3.0,3.0,-3900.0,-14.0,1
5043,6230,2022-05-10,2950.0,2950.0,2960.0,2920.0,2920.0,2100.0,40.0,"1 day, 0:00:00",30.0,30.0,-15.0,4.0,-55.0,400.0,-19.0,1
5049,6233,2022-05-10,487.0,487.0,487.0,485.0,485.0,800.0,2.0,"1 day, 0:00:00",-6.0,-6.0,-10.0,2.0,-12.0,-300.0,-12.0,1
5290,6347,2022-05-10,345.0,345.0,359.0,345.0,359.0,1300.0,14.0,"1 day, 0:00:00",-6.0,-6.0,-8.0,2.0,4.0,-10100.0,-10.0,1
5363,6382,2022-05-10,669.0,669.0,674.0,667.0,673.0,6300.0,7.0,"1 day, 0:00:00",-5.0,-5.0,-12.0,1.0,-12.0,-17300.0,-13.0,1
5584,6497,2022-05-10,876.0,876.0,876.0,876.0,876.0,500.0,0.0,"1 day, 0:00:00",0.0,0.0,-9.0,1.0,1.0,-600.0,-10.0,1
5833,6704,2022-05-10,802.0,802.0,810.0,802.0,802.0,7300.0,8.0,"1 day, 0:00:00",2.0,2.0,-28.0,2.0,-18.0,-300.0,-30.0,1
6076,6867,2022-05-10,518.0,518.0,525.0,516.0,518.0,3300.0,9.0,"1 day, 0:00:00",0.0,0.0,-1.0,1.0,3.0,1500.0,-2.0,1
6336,7040,2022-05-10,783.0,783.0,783.0,782.0,782.0,1300.0,1.0,"1 day, 0:00:00",-7.0,-7.0,-15.0,7.0,-16.0,-2600.0,-22.0,1
6424,7162,2022-05-10,233.0,233.0,244.0,227.0,234.0,145600.0,17.0,"1 day, 0:00:00",7.0,7.0,-10.0,1.0,-2.0,-19700.0,-11.0,1
6608,7315,2022-05-10,525.0,525.0,529.0,524.0,525.0,22600.0,5.0,"1 day, 0:00:00",1.0,1.0,-2.0,2.0,-4.0,-10900.0,-4.0,1
6759,7461,2022-05-10,542.0,542.0,542.0,542.0,542.0,100.0,0.0,"1 day, 0:00:00",2.0,2.0,-6.0,14.0,-6.0,-4600.0,-20.0,1
6762,7462,2022-05-10,367.0,367.0,367.0,355.0,355.0,300.0,12.0,"4 days, 0:00:00",-4.0,-4.0,-13.0,7.0,-9.0,-1900.0,-20.0,1
6878,7551,2022-05-10,485.0,485.0,485.0,484.0,484.0,2900.0,1.0,"1 day, 0:00:00",0.0,0.0,-1.0,7.0,-1.0,-11900.0,-8.0,1
6953,7611,2022-05-10,1904.0,1904.0,1914.0,1885.0,1908.0,57200.0,29.0,"1 day, 0:00:00",1.0,1.0,-11.0,25.0,0.0,-2200.0,-36.0,1
7017,7643,2022-05-10,813.0,813.0,813.0,813.0,813.0,1900.0,0.0,"1 day, 0:00:00",0.0,0.0,-16.0,11.0,-16.0,-1300.0,-27.0,1
7056,7698,2022-05-10,1440.0,1440.0,1440.0,1440.0,1440.0,300.0,0.0,"1 day, 0:00:00",0.0,0.0,-8.0,10.0,-8.0,-300.0,-18.0,1
7371,7896,2022-05-10,505.0,505.0,505.0,498.0,501.0,8100.0,7.0,"1 day, 0:00:00",-3.0,-3.0,-14.0,3.0,-18.0,-14100.0,-17.0,1
7555,7976,2022-05-10,1334.0,1334.0,1344.0,1325.0,1325.0,88300.0,19.0,"1 day, 0:00:00",9.0,9.0,-11.0,3.0,-14.0,-19600.0,-14.0,1
7583,7986,2022-05-10,1260.0,1260.0,1260.0,1260.0,1260.0,100.0,0.0,"1 day, 0:00:00",0.0,0.0,-11.0,11.0,6.0,-600.0,-22.0,1
7731,8060,2022-05-10,3045.0,3045.0,3070.0,3015.0,3040.0,356800.0,55.0,"1 day, 0:00:00",-15.0,-15.0,-10.0,50.0,70.0,-125700.0,-60.0,1
7937,8168,2022-05-10,958.0,958.0,960.0,949.0,951.0,96700.0,11.0,"1 day, 0:00:00",-15.0,-15.0,-23.0,9.0,10.0,-80900.0,-32.0,1
8376,8700,2022-05-10,1415.0,1415.0,1416.0,1415.0,1416.0,300.0,1.0,"1 day, 0:00:00",-1.0,-1.0,-4.0,14.0,-4.0,-600.0,-18.0,1
8532,8889,2022-05-10,482.0,482.0,482.0,482.0,482.0,500.0,0.0,"1 day, 0:00:00",0.0,0.0,-10.0,1.0,-10.0,-1900.0,-11.0,1
8564,8903,2022-05-10,536.0,536.0,536.0,535.0,535.0,700.0,1.0,"1 day, 0:00:00",2.0,2.0,-4.0,1.0,-5.0,0.0,-5.0,1
8678,9034,2022-05-10,1062.0,1062.0,1065.0,1062.0,1065.0,6700.0,3.0,"1 day, 0:00:00",-3.0,-3.0,-2.0,2.0,1.0,400.0,-4.0,1
8690,9039,2022-05-10,4590.0,4590.0,4625.0,4575.0,4580.0,14400.0,50.0,"1 day, 0:00:00",-60.0,-60.0,-35.0,55.0,-10.0,-16500.0,-90.0,1
8721,9059,2022-05-10,1090.0,1090.0,1090.0,1090.0,1090.0,100.0,0.0,"1 day, 0:00:00",10.0,10.0,-3.0,14.0,14.0,-500.0,-17.0,1
8773,9081,2022-05-10,3300.0,3300.0,3320.0,3285.0,3300.0,2300.0,35.0,"1 day, 0:00:00",0.0,0.0,-65.0,15.0,-75.0,-2900.0,-80.0,1
9023,9401,2022-05-10,1761.0,1761.0,1767.0,1737.0,1746.0,288600.0,30.0,"1 day, 0:00:00",10.0,10.0,-8.0,3.0,-28.0,-153200.0,-11.0,1
9155,9534,2022-05-10,1547.0,1547.0,1553.0,1535.0,1549.0,18900.0,18.0,"1 day, 0:00:00",-9.0,-9.0,-3.0,2.0,6.0,-20000.0,-5.0,1
9471,9823,2022-05-10,2162.0,2162.0,2162.0,2162.0,2162.0,200.0,0.0,"1 day, 0:00:00",0.0,0.0,-11.0,1.0,-8.0,-400.0,-12.0,1
9561,9890,2022-05-10,710.0,710.0,714.0,708.0,714.0,800.0,6.0,"1 day, 0:00:00",0.0,0.0,-4.0,3.0,-4.0,-1100.0,-7.0,1
9681,9986,2022-05-10,1939.0,1939.0,1961.0,1933.0,1961.0,1800.0,28.0,"1 day, 0:00:00",-10.0,-10.0,-21.0,9.0,3.0,-1300.0,-30.0,1

In [18]:
# kb_idnr4テーブルへインサート
# df_idnr4.to_sql('kb_idnr4',con=engine, if_exists='append', index=False)