In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame
import pandas_datareader.data as web
from dateutil.relativedelta import relativedelta

In [2]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [3]:
# 世界株価主要indexのリストを入力
df_stindex = pd.read_csv('data/##_stindex_20220515.csv', index_col=None, header=[0], parse_dates=[0])

In [4]:
# datetime.date(20XX, X, XX)
end_d = dt.date.today() - dt.timedelta(days = 0)
# YYYYMMDD
format(end_d, '%Y%m%d')

'20220515'

In [5]:
# start_d = end_d - dt.timedelta(days = 8)
start_d = end_d - dt.timedelta(days = 8)
# YYYYMMDD
format(start_d, '%Y%m%d')

'20220507'

In [6]:
# テスト用絞り込み
# codes = df_stindex.code[0:15]
codes = df_stindex.code

In [7]:
import tqdm
from tqdm import tqdm

start = start_d
end = end_d
err_code = []
first = 1

for code in tqdm(codes):
    try:
        df = web.DataReader(code, 'yahoo', start, end)
        df['code'] = code
        if first == 1:
            df_st = df
            first = 0
        else:
            df_st = df_st.append(df)
    except:
        err_code = code

100%|██████████████████████████████████████████████████████████████████████████████████| 27/27 [00:23<00:00,  1.14it/s]

In [8]:
df_stock = df_st

In [9]:
df_insert = df_stock.reset_index()

In [10]:
df_insert.rename(columns={"Date":"trading_date", "Adj Close":"adjclose"},inplace=True)

In [11]:
df_insert.sort_values(['code', 'trading_date'],inplace=True)

In [12]:
for i in  tqdm(df_insert.index):
    try:
        df_insert.iloc[[i]].to_sql('kb_stindex',con=engine, if_exists='append', index=False)
    except:
        continue

100%|███████████████████████████████████████████████████████████████████████████████| 159/159 [00:01<00:00, 117.43it/s]