In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame
import pandas_datareader.data as web

In [2]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [3]:
# どの日付を起点にするかここでコントロールする
# datetime.date(20XX, X, XX)
# today = dt.date.today()
today = dt.date.today() - dt.timedelta(days = 5)
# YYYYMMDD
format(today, "'%Y-%m-%d'")

"'2022-05-09'"

In [4]:
query = "select trading_date from stock.kb_values where DATE(`trading_date`) <= " + format(today, "'%Y-%m-%d'") + "group by trading_date order by trading_date desc"
df_seldate = pd.read_sql(query,con = engine)

In [5]:
date_list = df_seldate.iloc[0:78]

In [6]:
for i in range(57):
    end = date_list.iat[i,0]
    start = date_list.iat[i+21,0]
    query = "select * from stock.kb_values where trading_date >= " + format(start, "'%Y-%m-%d'") + " and trading_date <= "  + format(end, "'%Y-%m-%d'")
    df_values = pd.read_sql(query,con = engine)
        # codeでグループ化(基準日を含む)
    ddf = df_values.groupby('code')

    # ddf.rank():グループ化した表のうち、それぞれの値の順位を取得する
    df_addrank = pd.merge(df_values, ddf.rank(), left_index=True, right_index=True)

    # 最安値が過去2番めに低い日が、基準日よりも4営業日(21-3)よりも前の"コード"を抽出
    second_low = df_addrank[(df_addrank['trading_date_y']  < 18.0) & (df_addrank['low_y'] == 2.0)].code

    # 基準日の行を削除
    df_values2 = df_values[df_values['trading_date'] != end]

    # codeでグループ化(基準日を含まない)
    ddf2 = df_values2.groupby('code')

    # 基準日以外で過去最安値となった行を取得
    df_low = df_values2.loc[ddf2['low'].idxmin(),:]

    # 基準日が含まれている行に、過去最安値となった列をマージ
    df_addmin = pd.merge(df_values, df_low, left_on='code', right_on='code', how='left')

    # 基準日の終値が、基準日を除く過去最安値よりも安い
    df_turtleb = df_addmin[(df_addmin['trading_date_x']  == end) & (df_addmin['adjclose_x'] < df_addmin['low_y'])]

    # 最安値が過去2番めに低い日が、基準日よりも4営業日(21-3)よりも前の"コード"を抽出
    df_turtleb = df_turtleb.query('code in @second_low.values')

    # タートルスーププラスワンの買いのルールに該当するフラグを立てる
    df_turtleb['tsplb'] = 1

    # 列名を置換え
    df_turtleb = df_turtleb.rename(columns={'trading_date_x':'trading_date', 'adjclose_x':'adjclose', 'close_x':'close', 'high_x':'high', 'low_x':'low', 'open_x':'open', 'volume_x':'volume', 'diff_x':'diff'})
    
    # テーブルへkb_turtlebインサート
    df_turtleb.to_sql('kb_turtleb',con=engine, if_exists='append', index=False) 

    # ここからタートルスープ（売り）の銘柄抽出
    # 基準日を含む過去2番めの最高値日は、基準日よりも4営業日(21-3)前である"コード"を抽出
    second_high = df_addrank[(df_addrank['trading_date_y']  < 18.0) & (df_addrank['high_y'] == 20.0)].code

    # 基準日以外で過去最高値となった行を取得
    df_high = df_values2.loc[ddf2['high'].idxmax(),:]

    # 基準日が含まれている行に、過去最高値となった列をマージ
    df_addmax = pd.merge(df_values, df_high, left_on='code', right_on='code', how='left')

    # 基準日の終値が、基準日を除く過去最高値よりも高い
    df_turtles = df_addmax[(df_addmax['trading_date_x']  == end) & (df_addmax['adjclose_x'] > df_addmax['high_y'])]

    # 基準日を含む過去2番めの最高値日は、基準日よりも4営業日(21-3)前である"コード"を抽出
    df_turtles = df_turtles.query('code in @second_high.values')

    # タートルスーププラスワンの売りのルールに該当するフラグを立てる
    df_turtles['tspls'] = 1

    # 列名を置換え
    df_turtles = df_turtles.rename(columns={'trading_date_x':'trading_date', 'adjclose_x':'adjclose', 'close_x':'close', 'high_x':'high', 'low_x':'low', 'open_x':'open', 'volume_x':'volume', 'diff_x':'diff'})
    
    # テーブルへkb_turtlesインサート
    df_turtles.to_sql('kb_turtles',con=engine, if_exists='append', index=False)

In [7]:
df_turtleb

,code,trading_date,adjclose,close,high,low,open,volume,trading_date_y,adjclose_y,close_y,high_y,low_y,open_y,volume_y,tsplb
2921,1965,2022-02-09,880.000,880.0,884.0,878.0,884.0,8400.0,2022-02-02,884.000,884.0,886.0,882.0,885.0,3100.0,1
3630,2138,2022-02-09,740.000,740.0,790.0,732.0,790.0,118100.0,2022-01-27,791.000,791.0,869.0,775.0,837.0,90000.0,1
6197,2607,2022-02-09,2182.000,2182.0,2214.0,2146.0,2204.0,677700.0,2022-01-20,2283.000,2283.0,2301.0,2228.0,2230.0,199300.0,1
6351,2659,2022-02-09,3952.620,4005.0,4030.0,3985.0,4005.0,141600.0,2022-01-19,3923.010,3975.0,4045.0,3970.0,4000.0,52900.0,1
8088,2918,2022-02-09,1781.450,1833.0,1895.0,1831.0,1895.0,277400.0,2022-01-14,1779.510,1831.0,1832.0,1782.0,1800.0,203700.0,1
9417,3104,2022-02-09,3720.000,3720.0,3785.0,3700.0,3780.0,34000.0,2022-02-01,3760.000,3760.0,3850.0,3725.0,3820.0,39100.0,1
11108,3328,2022-02-09,1604.000,1604.0,1669.0,1502.0,1503.0,722700.0,2022-01-28,1712.000,1712.0,1760.0,1684.0,1731.0,182100.0,1
11328,3360,2022-02-09,2326.000,2326.0,2452.0,2294.0,2297.0,895600.0,2022-01-27,2457.000,2457.0,2566.0,2425.0,2555.0,335300.0,1
13494,3676,2022-02-09,1572.000,1572.0,1669.0,1496.0,1663.0,831400.0,2022-01-28,1625.000,1625.0,1649.0,1587.0,1643.0,141200.0,1
15607,3968,2022-02-09,561.000,561.0,577.0,561.0,571.0,58200.0,2022-01-28,580.000,580.0,584.0,566.0,582.0,74100.0,1
19757,4629,2022-02-09,1290.000,1290.0,1290.0,1290.0,1290.0,1500.0,2022-01-11,1291.000,1291.0,1291.0,1291.0,1291.0,0.0,1
20044,4659,2022-02-09,2581.000,2581.0,2620.0,2580.0,2588.0,4600.0,2022-02-02,2640.000,2640.0,2640.0,2591.0,2607.0,3700.0,1
23271,5233,2022-02-09,2200.000,2200.0,2255.0,2177.0,2220.0,2061800.0,2022-02-02,2284.000,2284.0,2302.0,2240.0,2240.0,501100.0,1
35668,7087,2022-02-09,800.000,800.0,857.0,776.0,842.0,46200.0,2022-01-28,820.000,820.0,835.0,812.0,821.0,9200.0,1
37715,7450,2022-02-09,1269.710,1285.0,1287.0,1285.0,1285.0,600.0,2022-01-19,1255.880,1271.0,1285.0,1271.0,1285.0,2500.0,1
40592,7826,2022-02-09,9030.000,9030.0,9030.0,8350.0,8730.0,541500.0,2022-01-28,9460.000,9460.0,9540.0,9100.0,9420.0,147100.0,1
42495,7986,2022-02-09,1240.000,1240.0,1269.0,1230.0,1240.0,2500.0,2022-02-02,1280.000,1280.0,1280.0,1255.0,1266.0,1500.0,1
48303,8931,2022-02-09,793.235,814.0,815.0,811.0,811.0,3500.0,2022-01-27,774.719,795.0,809.0,794.0,807.0,10300.0,1
51419,9543,2022-02-09,922.000,922.0,940.0,890.0,940.0,453800.0,2022-01-21,971.000,971.0,974.0,953.0,968.0,68600.0,1
52741,9778,2022-02-09,4717.070,4835.0,4835.0,4835.0,4835.0,200.0,2022-01-11,4731.710,4850.0,4860.0,4800.0,4800.0,700.0,1

In [8]:
df_turtles

,code,trading_date,adjclose,close,high,low,open,volume,trading_date_y,adjclose_y,close_y,high_y,low_y,open_y,volume_y,tspls
737,1720,2022-02-09,718.0,718.0,723.0,704.0,708.0,725900.0,2022-01-18,693.078,698.0,710.0,696.0,706.0,323800.0,1
1489,1815,2022-02-09,1858.0,1858.0,1866.0,1849.0,1855.0,36500.0,2022-02-08,1846.000,1846.0,1846.0,1828.0,1828.0,19800.0,1
1621,1828,2022-02-09,931.0,931.0,931.0,908.0,908.0,11100.0,2022-01-13,913.000,913.0,922.0,908.0,922.0,22300.0,1
1753,1847,2022-02-09,1923.0,1923.0,1923.0,1813.0,1898.0,70200.0,2022-01-14,1894.000,1894.0,1910.0,1876.0,1878.0,8900.0,1
1951,1870,2022-02-09,774.0,774.0,775.0,768.0,772.0,14200.0,2022-02-08,772.000,772.0,772.0,764.0,766.0,12300.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51353,9536,2022-02-09,2258.0,2258.0,2259.0,2182.0,2216.0,37400.0,2022-01-25,2182.000,2182.0,2249.0,2181.0,2217.0,46500.0,1
51915,9682,2022-02-09,2659.0,2659.0,2664.0,2601.0,2601.0,95800.0,2022-02-08,2595.000,2595.0,2634.0,2585.0,2585.0,106300.0,1
52431,9744,2022-02-09,6860.0,6860.0,6900.0,6800.0,6840.0,81700.0,2022-02-08,6800.000,6800.0,6840.0,6740.0,6780.0,70400.0,1
52675,9768,2022-02-09,1794.0,1794.0,1794.0,1758.0,1762.0,10300.0,2022-02-07,1783.000,1783.0,1789.0,1763.0,1763.0,12400.0,1
54365,9997,2022-02-09,763.0,763.0,774.0,758.0,764.0,194600.0,2022-02-08,758.000,758.0,762.0,752.0,754.0,152500.0,1