In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame
import pandas_datareader.data as web

In [2]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [3]:
# どの日付を起点にするかここでコントロールする
# datetime.date(20XX, X, XX)
# today = dt.date.today()
today = dt.date.today() - dt.timedelta(days = 1)
# YYYYMMDD
format(today, "'%Y-%m-%d'")

"'2024-12-06'"

In [4]:
query = "select trading_date from stock.kb_values where DATE(`trading_date`) <= " + format(today, "'%Y-%m-%d'") + "group by trading_date order by trading_date desc"
df_seldate = pd.read_sql(query,con = engine)

In [5]:
# 日付（取引日）の範囲抽出　始まりの日付(上記Todayを含む4日分)
start = df_seldate.iat[3,0]

In [6]:
query = "select * from stock.kb_values where trading_date >= " + format(start, "'%Y-%m-%d'") + " and trading_date <= "  + format(today, "'%Y-%m-%d'")

In [7]:
df_values = pd.read_sql(query,con = engine)

In [8]:
df_addiff = df_values

In [9]:
# 最大値と最小値の差を抽出
df_values['diff'] = df_values['high'] - df_values['low']

In [10]:
# codeでグループ化
ddf = df_values.groupby('code')

In [11]:
# グループ化したものから差が最小となる行のみ抽出
df_selmin = df_values.loc[ddf['diff'].idxmin(),:]

In [12]:
# 最小値が起点日と一致している日付のみ抽出
code_lists = df_selmin[df_selmin['trading_date']  == today].code

In [13]:
# ddf.diff()グループ化した表のうち、それぞれ直前の行との差分を取得する
df_values2 = pd.merge(df_values, ddf.diff(), left_index=True, right_index=True)

In [14]:
# 最新日付のHighとLowの値がそれぞれ前日から減少および増加している行を抽出
df_idnr4 = df_values2[(df_values2['trading_date_x']  == today) & (df_values2['high_y'] < 0) & (df_values2['low_y'] > 0)]

In [15]:
# df_valuesからcode_listに含まれているcodeの行のみを抽出
df_idnr4 = df_idnr4.query('code in @code_lists.values')

In [16]:
df_idnr4['idnr4'] = 1

In [17]:
# 列名を置換え
df_idnr4 = df_idnr4.rename(columns={'trading_date_x':'trading_date', 'adjclose_x':'adjclose', 'close_x':'close', 'high_x':'high', 'low_x':'low', 'open_x':'open', 'volume_x':'volume', 'diff_x':'diff'})

In [18]:
# kb_idnr4テーブルへインサート
df_idnr4.to_sql('kb_idnr4',con=engine, if_exists='append', index=False)

In [19]:
# ＜＜ここからタートルスープの処理＞＞

In [20]:
# 日付（取引日）の範囲抽出　始まりの日付(上記Todayを含む20日分)
start = df_seldate.iat[20,0]
query = "select * from stock.kb_values where trading_date >= " + format(start, "'%Y-%m-%d'") + " and trading_date <= "  + format(today, "'%Y-%m-%d'")

In [21]:
# 四本足読み込み
df_values = pd.read_sql(query,con = engine)

In [22]:
# codeでグループ化(基準日を含む)
ddf = df_values.groupby('code')

In [23]:
# ddf.rank():グループ化した表のうち、それぞれの値の順位を取得する
df_addrank = pd.merge(df_values, ddf.rank(), left_index=True, right_index=True)

In [24]:
# 最安値が過去2番めに低い日が、基準日よりも4営業日(21-3)よりも前の"コード"を抽出
second_low = df_addrank[(df_addrank['trading_date_y']  < 18.0) & (df_addrank['low_y'] == 2.0)].code

In [25]:
# 基準日の行を削除
df_values2 = df_values[df_values['trading_date'] != today]

In [26]:
# codeでグループ化(基準日を含まない)
ddf2 = df_values2.groupby('code')

In [27]:
# 基準日以外で過去最安値となった行を取得
df_low = df_values2.loc[ddf2['low'].idxmin(),:]

In [28]:
# 基準日が含まれている行に、過去最安値となった列をマージ
df_addmin = pd.merge(df_values, df_low, left_on='code', right_on='code', how='left')

In [29]:
# 基準日の終値が、基準日を除く過去最安値よりも安い
df_turtleb = df_addmin[(df_addmin['trading_date_x']  == today) & (df_addmin['adjclose_x'] < df_addmin['low_y'])]

In [30]:
# 最安値が過去2番めに低い日が、基準日よりも4営業日(21-3)よりも前の"コード"を抽出
df_turtleb = df_turtleb.query('code in @second_low.values')

In [31]:
# タートルスーププラスワンの買いのルールに該当するフラグを立てる
df_turtleb['tsplb'] = 1

In [32]:
# 列名を置換え
df_turtleb = df_turtleb.rename(columns={'trading_date_x':'trading_date', 'adjclose_x':'adjclose', 'close_x':'close', 'high_x':'high', 'low_x':'low', 'open_x':'open', 'volume_x':'volume', 'diff_x':'diff'})

In [33]:
# テーブルへkb_turtlebインサート
df_turtleb.to_sql('kb_turtleb',con=engine, if_exists='append', index=False)

In [34]:
# ここからタートルスープ（売り）の銘柄抽出

In [35]:
# 基準日を含む過去2番めの最高値日は、基準日よりも4営業日(21-3)前である"コード"を抽出
second_high = df_addrank[(df_addrank['trading_date_y']  < 18.0) & (df_addrank['high_y'] == 20.0)].code

In [36]:
# 基準日以外で過去最高値となった行を取得
df_high = df_values2.loc[ddf2['high'].idxmax(),:]

In [37]:
# 基準日が含まれている行に、過去最高値となった列をマージ
df_addmax = pd.merge(df_values, df_high, left_on='code', right_on='code', how='left')

In [38]:
# 基準日の終値が、基準日を除く過去最高値よりも高い
df_turtles = df_addmax[(df_addmax['trading_date_x']  == today) & (df_addmax['adjclose_x'] > df_addmax['high_y'])]

In [39]:
# 基準日を含む過去2番めの最高値日は、基準日よりも4営業日(21-3)前である"コード"を抽出
df_turtles = df_turtles.query('code in @second_high.values')

In [40]:
# タートルスーププラスワンの売りのルールに該当するフラグを立てる
df_turtles['tspls'] = 1

In [41]:
# 列名を置換え
df_turtles = df_turtles.rename(columns={'trading_date_x':'trading_date', 'adjclose_x':'adjclose', 'close_x':'close', 'high_x':'high', 'low_x':'low', 'open_x':'open', 'volume_x':'volume', 'diff_x':'diff'})

In [42]:
# テーブルへkb_turtlesインサート
df_turtles.to_sql('kb_turtles',con=engine, if_exists='append', index=False)

In [43]:
# <<ここからピンボール80-20Sの処理>>

In [44]:
# 日付（取引日）の範囲抽出　始まりの日付(上記Todayを含む4日分)
start = df_seldate.iat[3,0]
query = "select * from stock.kb_values where trading_date >= " + format(start, "'%Y-%m-%d'") + " and trading_date <= "  + format(today, "'%Y-%m-%d'")

In [45]:
# テーブル読み込み
df_values = pd.read_sql(query,con = engine)

In [46]:
# codeでグループ化
ddf = df_values.groupby('code')

In [47]:
# ddf.diff()グループ化した表のうち、それぞれ直前の行との差分を取得する
df_rsi = pd.merge(df_values, ddf.diff(), left_index=True, right_index=True)

In [48]:
import tqdm
from tqdm import tqdm

first = 1
for name, group in tqdm(df_rsi.groupby('code')):
    df_up, df_down = group['close_y'].copy(), group['close_y'].copy() 
    # df_upはマイナス値を0に変換
    # df_downはプラス値を0に変換して正負反転
    df_up[df_up < 0] = 0
    df_down[df_down > 0] = 0
    df_down = df_down * -1
    
    # 期間03でそれぞれの平均を算出
    df_up_sma03 = df_up.rolling(window=3, center=False).mean()
    df_down_sma03 = df_down.rolling(window=3, center=False).mean()

    # RSIを算出
    group["RSI"] = 100.0 * (df_up_sma03 / (df_up_sma03 + df_down_sma03))
    if first == 1:
        df_st = group["RSI"]
        first = 0 
    else:
        df_st = df_st.append(group["RSI"])

100%|█████████████████████████████████████████████████████████████████████████████| 3758/3758 [00:07<00:00, 513.99it/s]

In [49]:
df_rsi['rsi'] = df_st
df_rsi['diff'] = df_rsi['high_x'] - df_rsi['low_x']
df_rsi['eighty'] = df_rsi['high_x'] - df_rsi['diff'] * 0.2
df_rsi['twenty'] = df_rsi['low_x'] + df_rsi['diff'] * 0.2
df_rsi['rsi_diff'] = df_rsi['rsi'].diff(1)

In [50]:
df_rsi2 = df_rsi[df_rsi.trading_date_x == today]

In [51]:
# 日付の比較Datetimeから日付のみを取得して比較
df_buy = df_rsi2[(df_rsi2['rsi'] < 30) &
        (df_rsi2['open_x'] >= df_rsi2['eighty']) &
        (df_rsi2['close_x'] <= df_rsi2['twenty'])
        ]

In [52]:
# pin80b列を新設し、1をセット
df_buy['pin80b'] = 1
# 列名を置換え
df_buy = df_buy.rename(columns={'trading_date_x':'trading_date', 'adjclose_x':'adjclose', 'close_x':'close', 'high_x':'high', 'low_x':'low', 'open_x':'open', 'volume_x':'volume'})
# テーブル kb_pin80bへインサート
df_buy.to_sql('kb_pin80b',con=engine, if_exists='append', index=False)

C:\Users\ricew\AppData\Local\Temp/ipykernel_11516/704998916.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_buy['pin80b'] = 1

In [53]:
# 日付の比較Datetimeから日付のみを取得して比較
df_sell = df_rsi2[(df_rsi2['rsi'] > 70) &
         (df_rsi2['close_x'] >= df_rsi2['eighty']) &
         (df_rsi2['open_x'] <= df_rsi2['twenty'])
         ]

In [54]:
# pin80s列を新設し、1をセット
df_sell['pin80s'] = 1
# 列名を置換え
df_sell = df_sell.rename(columns={'trading_date_x':'trading_date', 'adjclose_x':'adjclose', 'close_x':'close', 'high_x':'high', 'low_x':'low', 'open_x':'open', 'volume_x':'volume'})
# テーブル kb_pin80sへインサート
df_sell.to_sql('kb_pin80s',con=engine, if_exists='append', index=False)

C:\Users\ricew\AppData\Local\Temp/ipykernel_11516/4291713345.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sell['pin80s'] = 1