In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame
import pandas_datareader.data as web

In [2]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [3]:
# どの日付を起点にするかここでコントロールする
# datetime.date(20XX, X, XX)
# today = dt.date.today()
today = dt.date.today() - dt.timedelta(days = 4)
# YYYYMMDD
format(today, "'%Y-%m-%d'")

"'2022-05-10'"

In [4]:
query = "select trading_date from stock.kb_values where DATE(`trading_date`) <= " + format(today, "'%Y-%m-%d'") + "group by trading_date order by trading_date desc"
df_seldate = pd.read_sql(query,con = engine)

In [5]:
# 日付（取引日）の範囲抽出　始まりの日付(上記Todayを含む4日分)
start = df_seldate.iat[3,0]

In [6]:
query = "select * from stock.kb_values where trading_date >= " + format(start, "'%Y-%m-%d'") + " and trading_date <= "  + format(today, "'%Y-%m-%d'")

In [7]:
df_values = pd.read_sql(query,con = engine)

In [8]:
df_values

      code trading_date  adjclose   close    high     low    open    volume
0     1301   2022-05-02    3295.0  3295.0  3305.0  3255.0  3265.0   12200.0
1     1301   2022-05-06    3290.0  3290.0  3305.0  3280.0  3305.0   11900.0
2     1301   2022-05-09    3260.0  3260.0  3290.0  3260.0  3290.0   13900.0
3     1301   2022-05-10    3225.0  3225.0  3255.0  3205.0  3235.0   12400.0
4     1376   2022-05-02    1795.0  1795.0  1868.0  1741.0  1799.0   31500.0
...    ...          ...       ...     ...     ...     ...     ...       ...
9697  9993   2022-05-10    1500.0  1500.0  1505.0  1500.0  1501.0    4900.0
9698  9997   2022-05-02     731.0   731.0   738.0   729.0   730.0  114200.0
9699  9997   2022-05-06     721.0   721.0   731.0   721.0   731.0  140800.0
9700  9997   2022-05-09     717.0   717.0   720.0   709.0   719.0  160300.0
9701  9997   2022-05-10     711.0   711.0   715.0   696.0   711.0  291000.0

[9702 rows x 8 columns]

In [9]:
# codeでグループ化
ddf = df_values.groupby('code')

In [10]:
# ddf.diff()グループ化した表のうち、それぞれ直前の行との差分を取得する
df_rsi = pd.merge(df_values, ddf.diff(), left_index=True, right_index=True)

In [11]:
import tqdm
from tqdm import tqdm

first = 1
for name, group in tqdm(df_rsi.groupby('code')):
    df_up, df_down = group['close_y'].copy(), group['close_y'].copy() 
    # df_upはマイナス値を0に変換
    # df_downはプラス値を0に変換して正負反転
    df_up[df_up < 0] = 0
    df_down[df_down > 0] = 0
    df_down = df_down * -1
    
    # 期間03でそれぞれの平均を算出
    df_up_sma03 = df_up.rolling(window=3, center=False).mean()
    df_down_sma03 = df_down.rolling(window=3, center=False).mean()

    # RSIを算出
    group["RSI"] = 100.0 * (df_up_sma03 / (df_up_sma03 + df_down_sma03))
    if first == 1:
        df_st = group["RSI"]
        first = 0 
    else:
        df_st = df_st.append(group["RSI"])

100%|█████████████████████████████████████████████████████████████████████████████| 2443/2443 [00:04<00:00, 526.06it/s]

In [12]:
df_rsi['rsi'] = df_st

In [13]:
df_rsi['diff'] = df_rsi['high_x'] - df_rsi['low_x']
df_rsi['eighty'] = df_rsi['high_x'] - df_rsi['diff'] * 0.2
df_rsi['twenty'] = df_rsi['low_x'] + df_rsi['diff'] * 0.2
df_rsi['rsi_diff'] = df_rsi['rsi'].diff(1)

In [14]:
df_rsi2 = df_rsi[df_rsi.trading_date_x == today]

In [15]:
# 日付の比較Datetimeから日付のみを取得して比較
df_buy = df_rsi2[(df_rsi2['rsi'] < 30) &
        (df_rsi2['open_x'] >= df_rsi2['eighty']) &
        (df_rsi2['close_x'] <= df_rsi2['twenty'])
        ]

In [16]:
# 日付の比較Datetimeから日付のみを取得して比較
df_sell = df_rsi2[(df_rsi2['rsi'] > 70) &
         (df_rsi2['close_x'] >= df_rsi2['eighty']) &
         (df_rsi2['open_x'] <= df_rsi2['twenty'])
         ]

In [17]:
# pin80b列を新設し、1をセット
df_buy['pin80b'] = 1
# 列名を置換え
df_buy = df_buy.rename(columns={'trading_date_x':'trading_date', 'adjclose_x':'adjclose', 'close_x':'close', 'high_x':'high', 'low_x':'low', 'open_x':'open', 'volume_x':'volume'})
# テーブル kb_pin80bへインサート
# df_buy.to_sql('kb_pin80b',con=engine, if_exists='append', index=False) 
df_buy

C:\Users\ricew\AppData\Local\Temp/ipykernel_22736/3417096879.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_buy['pin80b'] = 1

,code,trading_date,adjclose,close,high,low,open,volume,trading_date_y,adjclose_y,...,high_y,low_y,open_y,volume_y,rsi,diff,eighty,twenty,rsi_diff,pin80b
83,1439,2022-05-10,900.0,900.0,900.0,900.0,900.0,300.0,"1 day, 0:00:00",0.0,...,-9.0,0.0,-9.0,100.0,14.285714,0.0,900.0,900.0,NaN,1
175,1770,2022-05-10,831.0,831.0,876.0,831.0,876.0,1100.0,"1 day, 0:00:00",-44.0,...,-24.0,-30.0,-10.0,-1300.0,23.076923,45.0,867.0,840.0,NaN,1
199,1788,2022-05-10,2740.0,2740.0,2740.0,2740.0,2740.0,0.0,"1 day, 0:00:00",0.0,...,-10.0,1.0,1.0,-300.0,0.000000,0.0,2740.0,2740.0,NaN,1
214,1798,2022-05-10,2122.0,2122.0,2122.0,2122.0,2122.0,100.0,"1 day, 0:00:00",-28.0,...,-34.0,-28.0,-33.0,-500.0,0.000000,0.0,2122.0,2122.0,NaN,1
341,1866,2022-05-10,2050.0,2050.0,2074.0,2050.0,2074.0,5900.0,"1 day, 0:00:00",-62.0,...,-58.0,-62.0,-43.0,3600.0,7.246377,24.0,2069.2,2054.8,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9243,9644,2022-05-10,640.0,640.0,656.0,638.0,654.0,7500.0,"1 day, 0:00:00",-14.0,...,-10.0,-16.0,-10.0,1000.0,0.000000,18.0,652.4,641.6,NaN,1
9459,9816,2022-05-10,215.0,215.0,217.0,215.0,217.0,1700.0,"1 day, 0:00:00",-2.0,...,0.0,3.0,0.0,-9100.0,0.000000,2.0,216.6,215.4,NaN,1
9471,9823,2022-05-10,2162.0,2162.0,2162.0,2162.0,2162.0,200.0,"1 day, 0:00:00",0.0,...,-11.0,1.0,-8.0,-400.0,0.000000,0.0,2162.0,2162.0,NaN,1
9495,9837,2022-05-10,754.0,754.0,772.0,754.0,772.0,26000.0,"1 day, 0:00:00",-23.0,...,-14.0,-11.0,2.0,-6100.0,14.705882,18.0,768.4,757.6,NaN,1
9653,9969,2022-05-10,209.0,209.0,211.0,209.0,211.0,14200.0,"1 day, 0:00:00",-1.0,...,-2.0,0.0,0.0,8300.0,0.000000,2.0,210.6,209.4,NaN,1

In [18]:
# pin80s列を新設し、1をセット
df_sell['pin80s'] = 1
# 列名を置換え
df_sell = df_sell.rename(columns={'trading_date_x':'trading_date', 'adjclose_x':'adjclose', 'close_x':'close', 'high_x':'high', 'low_x':'low', 'open_x':'open', 'volume_x':'volume'})
# テーブル kb_pin80sへインサート
# df_sell.to_sql('kb_pin80s',con=engine, if_exists='append', index=False) 
df_sell

C:\Users\ricew\AppData\Local\Temp/ipykernel_22736/3031702650.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sell['pin80s'] = 1

,code,trading_date,adjclose,close,high,low,open,volume,trading_date_y,adjclose_y,...,high_y,low_y,open_y,volume_y,rsi,diff,eighty,twenty,rsi_diff,pin80s
47,1417,2022-05-10,1840.0,1840.0,1845.0,1812.0,1816.0,158000.0,"1 day, 0:00:00",6.0,...,-5.0,-16.0,-29.0,-39500.0,100.000000,33.0,1838.4,1818.6,NaN,1
91,1450,2022-05-10,1694.0,1694.0,1694.0,1662.0,1664.0,1100.0,"1 day, 0:00:00",4.0,...,1.0,5.0,4.0,-400.0,81.481481,32.0,1687.6,1668.4,NaN,1
127,1718,2022-05-10,3970.0,3970.0,3970.0,3970.0,3970.0,100.0,"1 day, 0:00:00",-10.0,...,-10.0,20.0,20.0,-300.0,84.615385,0.0,3970.0,3970.0,NaN,1
159,1762,2022-05-10,2205.0,2205.0,2215.0,2164.0,2170.0,59600.0,"1 day, 0:00:00",23.0,...,19.0,-8.0,-17.0,22300.0,75.000000,51.0,2204.8,2174.2,NaN,1
163,1764,2022-05-10,2563.0,2563.0,2563.0,2556.0,2556.0,600.0,"1 day, 0:00:00",4.0,...,4.0,35.0,35.0,200.0,100.000000,7.0,2561.6,2557.4,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9411,9778,2022-05-10,4885.0,4885.0,4885.0,4885.0,4885.0,100.0,"1 day, 0:00:00",45.0,...,35.0,45.0,35.0,-200.0,100.000000,0.0,4885.0,4885.0,NaN,1
9415,9780,2022-05-10,4675.0,4675.0,4675.0,4675.0,4675.0,100.0,"1 day, 0:00:00",140.0,...,140.0,180.0,180.0,-100.0,100.000000,0.0,4675.0,4675.0,NaN,1
9427,9787,2022-05-10,2884.0,2884.0,2893.0,2844.0,2852.0,77300.0,"1 day, 0:00:00",8.0,...,5.0,25.0,-14.0,-29900.0,100.000000,49.0,2883.2,2853.8,NaN,1
9451,9799,2022-05-10,1159.0,1159.0,1159.0,1148.0,1148.0,1300.0,"1 day, 0:00:00",11.0,...,2.0,0.0,-5.0,-900.0,84.000000,11.0,1156.8,1150.2,NaN,1
9625,9955,2022-05-10,2339.0,2339.0,2350.0,2274.0,2282.0,8000.0,"1 day, 0:00:00",28.0,...,16.0,9.0,-38.0,-9600.0,100.000000,76.0,2334.8,2289.2,NaN,1