In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame
import pandas_datareader.data as web
from dateutil.relativedelta import relativedelta

In [2]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [3]:
query = "select code from stock.kb_brand"
df_brand = pd.read_sql(query,con = engine)

In [4]:
codes = df_brand["code"].astype(str) + ".T"

In [5]:
# datetime.date(20XX, X, XX)
end_d = dt.date.today() - dt.timedelta(days = 0)
# YYYYMMDD
format(end_d, '%Y%m%d')

'20220508'

In [6]:
# start_d = end_d - dt.timedelta(days = 8)
start_d = end_d - relativedelta(months=4)
format(start_d, '%Y%m%d')

'20220108'

In [7]:
# テスト用絞り込み
# codes = codes[0:15]

In [8]:
import tqdm
from tqdm import tqdm

start = start_d
end = end_d
err_code = []
first = 1

for code in tqdm(codes):
    try:
        df = web.DataReader(code, 'yahoo', start, end)
        df['code'] = code
        if first == 1:
            df_st = df
            first = 0
        else:
            df_st = df_st.append(df)
    except:
        err_code = code

100%|████████████████████████████████████████████████████████████████████████████| 2443/2443 [2:09:06<00:00,  3.17s/it]

In [9]:
df_stock = df_st

In [10]:
# 部分一致の場合は「regex=True」をつける
df_stock['code'] = df_stock['code'].replace(".T", "", regex=True)

In [11]:
df_stock = df_stock.dropna(how = 'any')

In [12]:
df_insert = df_stock.reset_index()

In [13]:
df_insert

             Date    High     Low    Open   Close    Volume    Adj Close  code
0      2022-01-11  3090.0  3055.0  3070.0  3085.0   10500.0  3005.215332  1301
1      2022-01-12  3120.0  3095.0  3120.0  3110.0   11100.0  3029.568848  1301
2      2022-01-13  3120.0  3100.0  3110.0  3100.0    8800.0  3019.827393  1301
3      2022-01-14  3115.0  3085.0  3095.0  3105.0    9800.0  3024.698242  1301
4      2022-01-17  3125.0  3105.0  3120.0  3125.0    7500.0  3044.180908  1301
...           ...     ...     ...     ...     ...       ...          ...   ...
187875 2022-04-26   725.0   715.0   720.0   724.0  112300.0   724.000000  9997
187876 2022-04-27   721.0   702.0   712.0   720.0  221100.0   720.000000  9997
187877 2022-04-28   731.0   714.0   717.0   731.0  149800.0   731.000000  9997
187878 2022-05-02   738.0   729.0   730.0   731.0  114200.0   731.000000  9997
187879 2022-05-06   731.0   721.0   731.0   721.0  140800.0   721.000000  9997

[187880 rows x 8 columns]

In [14]:
df_insert.rename(columns={"Date":"trading_date", "Adj Close":"adjclose"},inplace=True)

In [15]:
df_insert.sort_values(['code', 'trading_date'],inplace=True)

In [30]:
for i in  tqdm(df_insert.index):
    try:
        df_insert.iloc[[i]].to_sql('kb_values',con=engine, if_exists='append', index=False)
    except:
        continue

100%|██████████████████████████████████████████████████████████████████████████| 187880/187880 [35:20<00:00, 88.60it/s]