In [23]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame
import pandas_datareader.data as web
from dateutil.relativedelta import relativedelta

In [24]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [25]:
query = "select code from stock.kb_brand"
df_brand = pd.read_sql(query,con = engine)

In [26]:
codes = df_brand["code"].astype(str) + ".T"

In [28]:
# datetime.date(20XX, X, XX)
end_d = dt.date.today() + dt.timedelta(days = 1)
#end_d = dt.datetime.now()
# YYYYMMDD
format(end_d, '%Y%m%d')

'20220527'

In [30]:
start_d = end_d - dt.timedelta(days = 1)
format(start_d, '%Y%m%d')

'20220526'

In [31]:
# テスト用絞り込み
codes = codes[0:100]

In [32]:
import tqdm
from tqdm import tqdm

start = start_d
end = end_d
err_code = []
first = 1

for code in tqdm(codes):
    try:
        df = web.DataReader(code, 'yahoo', start, end)
        df['code'] = code
        if first == 1:
            df_st = df
            first = 0
        else:
            df_st = df_st.append(df)
    except:
        err_code.append(code)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [03:19<00:00,  1.99s/it]

In [33]:
df_stock = df_st

In [10]:
# 部分一致の場合は「regex=True」をつける
df_stock['code'] = df_stock['code'].replace(".T", "", regex=True)

In [11]:
df_stock = df_stock.dropna(how = 'any')

In [12]:
df_insert = df_stock.reset_index()

In [13]:
df_insert.rename(columns={"Date":"trading_date", "Adj Close":"adjclose"},inplace=True)

In [14]:
df_insert.sort_values(['code', 'trading_date'],inplace=True)

In [15]:
today = format(end_d, '%Y%m%d')
tdatetime = dt.datetime.strptime(today, '%Y%m%d')
df_inserta = df_insert[df_insert.trading_date == tdatetime]
df_insertb = df_insert[df_insert.trading_date != tdatetime]

In [16]:
df_inserta

   trading_date    High     Low    Open   Close   Volume  adjclose  code
1    2022-05-26  3350.0  3325.0  3335.0  3325.0     7200    3325.0  1301
3    2022-05-26  1768.0  1724.0  1755.0  1753.0    14100    1753.0  1376
5    2022-05-26  4400.0  4235.0  4355.0  4255.0   550300    4255.0  1377
7    2022-05-26  1920.0  1905.0  1905.0  1907.0    17700    1907.0  1379
9    2022-05-26  1052.0  1052.0  1052.0  1052.0      100    1052.0  1380
11   2022-05-26  3345.0  3335.0  3335.0  3345.0      400    3345.0  1381
14   2022-05-26  2626.0  2620.0  2626.0  2620.0      400    2620.0  1383
16   2022-05-26   630.0   626.0   630.0   626.0     5300     626.0  1384
18   2022-05-26  4515.0  4175.0  4510.0  4225.0   595900    4225.0  1407
20   2022-05-26  5670.0  5600.0  5600.0  5640.0    94700    5640.0  1414
22   2022-05-26  1631.0  1614.0  1618.0  1623.0   151800    1623.0  1417
24   2022-05-26   166.0   163.0   164.0   166.0     9700     166.0  1418
26   2022-05-26  2672.0  2626.0  2629.0  2662.0   477400    2662.0  1419
28   2022-05-26   729.0   724.0   729.0   725.0     2200     725.0  1420
30   2022-05-26   618.0   605.0   612.0   607.0    29300     607.0  1429
32   2022-05-26   761.0   753.0   757.0   757.0    53500     757.0  1430
34   2022-05-26  1191.0  1170.0  1170.0  1190.0     8600    1190.0  1433
36   2022-05-26   460.0   453.0   455.0   459.0     3200     459.0  1434
38   2022-05-26   192.0   187.0   187.0   191.0   119100     191.0  1435
40   2022-05-26   890.0   890.0   890.0   890.0      200     890.0  1439
42   2022-05-26   201.0   198.0   198.0   200.0    47100     200.0  1443
44   2022-05-26  1703.0  1703.0  1703.0  1703.0      300    1703.0  1450
46   2022-05-26   599.0   592.0   592.0   592.0     6100     592.0  1451
48   2022-05-26    32.0    31.0    32.0    31.0   178500      31.0  1491
50   2022-05-26  5850.0  5760.0  5780.0  5770.0    16000    5770.0  1515
52   2022-05-26  1537.0  1514.0  1533.0  1520.0  5015500    1520.0  1605
54   2022-05-26  1566.0  1531.0  1534.0  1556.0    14800    1556.0  1663
56   2022-05-26   961.0   941.0   950.0   946.0    84500     946.0  1712
58   2022-05-26  1317.0  1300.0  1317.0  1305.0     6900    1305.0  1716
60   2022-05-26   628.0   618.0   620.0   620.0    17400     620.0  1717
62   2022-05-26  4030.0  4030.0  4030.0  4030.0      100    4030.0  1718
64   2022-05-26   594.0   586.0   586.0   592.0   231100     592.0  1720
66   2022-05-26  2447.0  2407.0  2410.0  2439.0   292000    2439.0  1721
68   2022-05-26  3450.0  3365.0  3450.0  3365.0     1200    3365.0  1723

In [17]:
df_insertb

     trading_date    High     Low    Open   Close  Volume  adjclose  code
0      2022-05-25  3340.0  3305.0  3320.0  3320.0   11900    3320.0  1301
2      2022-05-25  1838.0  1755.0  1838.0  1755.0   17900    1755.0  1376
4      2022-05-25  4450.0  4360.0  4440.0  4370.0  290000    4370.0  1377
6      2022-05-25  1923.0  1905.0  1923.0  1905.0   32900    1905.0  1379
8      2022-05-25  1075.0  1075.0  1075.0  1075.0     100    1075.0  1380
...           ...     ...     ...     ...     ...     ...       ...   ...
2471   2022-05-25  3510.0  3455.0  3455.0  3470.0  219300    3470.0  9987
2472   2022-05-25  2776.0  2739.0  2756.0  2756.0  377600    2756.0  9989
2473   2022-05-25   811.0   800.0   800.0   811.0   26100     811.0  9991
2474   2022-05-25  1529.0  1516.0  1519.0  1526.0    2200    1526.0  9993
2475   2022-05-25   652.0   640.0   652.0   644.0  233300     644.0  9997

[2442 rows x 8 columns]

In [18]:
for i in tqdm(range(len(df_insert))):
    try:
        df_insert.iloc[i:i+1].to_sql('kb_values',con=engine, if_exists='append', index=False)
    except:
        continue

100%|██████████████████████████████████████████████████████████████████████████████| 2476/2476 [00:35<00:00, 69.82it/s]

In [19]:
# yahooのサイトから取得できなかった銘柄を出力
Series(err_code).to_csv('data/error_code_' + format(end_d, '%Y%m%d') + '.csv', index=False)

In [20]:
df_insertb.to_csv('data/insertb_' + format(end_d, '%Y%m%d') + '.csv')

In [21]:
df_inserta.to_csv('data/inserta_' + format(end_d, '%Y%m%d') + '.csv')

In [22]:
#today = format(end_d, '%Y%m%d')
#tdatetime = dt.datetime.strptime(today, '%Y%m%d')
#df_inserta = df_insert[df_insert.trading_date == tdatetime]
#df_insertb = df_insert[df_insert.trading_date != tdatetime]