In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame
import pandas_datareader.data as web

In [2]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [3]:
# どの日付を起点にするかここでコントロールする
# datetime.date(20XX, X, XX)
# today = dt.date.today()
today = dt.date.today() - dt.timedelta(days = 1)
# YYYYMMDD
format(today, "'%Y-%m-%d'")

"'2023-05-15'"

In [4]:
query = "select trading_date from stock.kb_values where DATE(`trading_date`) <= " + format(today, "'%Y-%m-%d'") + "group by trading_date order by trading_date desc"
df_seldate = pd.read_sql(query,con = engine)

In [5]:
# 日付（取引日）の範囲抽出　始まりの日付(上記Todayを含む4日分)
start = df_seldate.iat[3,0]

In [6]:
query = "select * from stock.kb_values where trading_date >= " + format(start, "'%Y-%m-%d'") + " and trading_date <= "  + format(today, "'%Y-%m-%d'")

In [7]:
df_values = pd.read_sql(query,con = engine)

In [8]:
df_values

      code trading_date  adjclose   close    high     low    open    volume
0     1301   2023-05-10    3565.0  3565.0  3620.0  3565.0  3620.0   20900.0
1     1301   2023-05-11    3560.0  3560.0  3580.0  3550.0  3570.0   15400.0
2     1301   2023-05-12    3665.0  3665.0  3665.0  3550.0  3585.0   89500.0
3     1301   2023-05-15    3675.0  3675.0  3710.0  3640.0  3640.0   71300.0
4     1376   2023-05-10    1613.0  1613.0  1641.0  1613.0  1641.0    4200.0
...    ...          ...       ...     ...     ...     ...     ...       ...
9611  9993   2023-05-15    1300.0  1300.0  1300.0  1298.0  1300.0    3000.0
9612  9997   2023-05-10     751.0   751.0   761.0   748.0   761.0  146300.0
9613  9997   2023-05-11     755.0   755.0   755.0   746.0   748.0   59300.0
9614  9997   2023-05-12     756.0   756.0   757.0   750.0   754.0  110000.0
9615  9997   2023-05-15     766.0   766.0   769.0   761.0   766.0  205500.0

[9616 rows x 8 columns]

In [9]:
# 最大値と最小値の差を抽出
df_values['diff'] = df_values['high'] - df_values['low']

In [10]:
# codeでグループ化
ddf = df_values.groupby('code')

In [11]:
# グループ化したものから差が最小となる行のみ抽出
df_selmin = df_values.loc[ddf['diff'].idxmin(),:]

In [12]:
# 最小値が起点日と一致している日付のみ抽出
code_lists = df_selmin[df_selmin['trading_date']  == today].code

In [13]:
# ddf.diff()グループ化した表のうち、それぞれ直前の行との差分を取得する
df_values2 = pd.merge(df_values, ddf.diff(), left_index=True, right_index=True)

In [14]:
# 最新日付のHighとLowの値がそれぞれ前日から減少および増加している行を抽出
df_idnr4 = df_values2[(df_values2['trading_date_x']  == today) & (df_values2['high_y'] < 0) & (df_values2['low_y'] > 0)]

In [15]:
# df_valuesからcode_listに含まれているcodeの行のみを抽出
df_idnr4 = df_idnr4.query('code in @code_lists.values')

In [16]:
df_idnr4['idnr4'] = 1

In [17]:
# 列名を置換え
df_idnr4 = df_idnr4.rename(columns={'trading_date_x':'trading_date', 'adjclose_x':'adjclose', 'close_x':'close', 'high_x':'high', 'low_x':'low', 'open_x':'open', 'volume_x':'volume', 'diff_x':'diff'})

In [18]:
df_idnr4

,code,trading_date,adjclose,close,high,low,open,volume,diff,trading_date_y,adjclose_y,close_y,high_y,low_y,open_y,volume_y,diff_y,idnr4
107,1605,2023-05-15,1464.0,1464.0,1477.0,1459.0,1473.0,4776100.0,18.0,"3 days, 0:00:00",4.0,4.0,-15.0,5.0,-3.0,-5779800.0,-20.0,1
163,1764,2023-05-15,2630.0,2630.0,2638.0,2600.0,2638.0,800.0,38.0,"3 days, 0:00:00",-9.0,-9.0,-1.0,10.0,48.0,-500.0,-11.0,1
311,1844,2023-05-15,192.0,192.0,192.0,191.0,191.0,93500.0,1.0,"3 days, 0:00:00",2.0,2.0,-1.0,1.0,-2.0,15400.0,-2.0,1
455,1934,2023-05-15,866.0,866.0,878.0,866.0,874.0,124400.0,12.0,"3 days, 0:00:00",-8.0,-8.0,-2.0,22.0,21.0,-39800.0,-24.0,1
519,1963,2023-05-15,1668.0,1668.0,1668.0,1644.0,1645.0,1132300.0,24.0,"3 days, 0:00:00",39.0,39.0,-10.0,31.0,-16.0,-1686000.0,-41.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9159,9640,2023-05-15,1798.0,1798.0,1800.0,1788.0,1800.0,3800.0,12.0,"3 days, 0:00:00",2.0,2.0,-24.0,8.0,-23.0,-8600.0,-32.0,1
9231,9715,2023-05-15,3320.0,3320.0,3345.0,3315.0,3320.0,73600.0,30.0,"3 days, 0:00:00",-35.0,-35.0,-10.0,15.0,-10.0,-26900.0,-25.0,1
9423,9843,2023-05-15,18880.0,18880.0,19070.0,18805.0,18995.0,344800.0,265.0,"3 days, 0:00:00",-155.0,-155.0,-25.0,235.0,345.0,-230400.0,-260.0,1
9503,9908,2023-05-15,1820.0,1820.0,1828.0,1804.0,1807.0,26300.0,24.0,"3 days, 0:00:00",13.0,13.0,-48.0,41.0,-63.0,-44500.0,-89.0,1
9567,9969,2023-05-15,246.0,246.0,246.0,245.0,246.0,2100.0,1.0,"3 days, 0:00:00",2.0,2.0,-1.0,1.0,1.0,-11200.0,-2.0,1

In [19]:
# kb_idnr4テーブルへインサート
# df_idnr4.to_sql('kb_idnr4',con=engine, if_exists='append', index=False)