In [1]:
# MySQLdbのインポート
import MySQLdb

In [2]:
# データベースへの接続とカーソルの生成
connection = MySQLdb.connect(
    host='localhost',
    port=13306,
    user='cyamaryan',
    passwd='python',
    db='stock',
    charset='utf8')
cursor = connection.cursor()

In [3]:
# テーブル削除
sql = '''
DROP TABLE kb_brand
'''
cursor.execute(sql)

cursor.execute("SHOW TABLES")
# fetchall:結果をリスト化する
print(cursor.fetchall())

(('kb_market',), ('kb_values',))

In [4]:
# テーブル作成(kb_brand)
sql = '''
CREATE TABLE kb_brand(code INT NOT NULL, name VARCHAR(50) NULL, marketplace VARCHAR(50) NULL, del_flg INT NULL, del_date DATE NULL, PRIMARY KEY(code))
'''
cursor.execute(sql)

cursor.execute("SHOW TABLES")
# fetchall:結果をリスト化する
print(cursor.fetchall())

(('kb_brand',), ('kb_market',), ('kb_values',))

In [5]:
import pandas as pd
import sqlalchemy as sa
import pymysql

In [6]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [7]:
# TABLE(kb_brand)の作成/銘柄リスト
df_brand = pd.read_csv('data/screener_result_20220506.csv', index_col=None, header=None, parse_dates=[0])

In [8]:
df_insert = df_brand.iloc[1:,0:3]

In [9]:
df_insert.rename(columns={0:"code",1:"name",2:"marketplace"},inplace=True)

In [10]:
#df.to_sql(<table_name>,con=engine, if_exists='append', index=False)
df_insert.to_sql('kb_brand',con=engine, if_exists='append', index=False)