In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame
import pandas_datareader.data as web

In [2]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [3]:
# どの日付を起点にするかここでコントロールする
# datetime.date(20XX, X, XX)
# today = dt.date.today()
today = dt.date.today() - dt.timedelta(days = 4)
# YYYYMMDD
format(today, "'%Y-%m-%d'")

"'2022-05-10'"

In [4]:
query = "select trading_date from stock.kb_values where DATE(`trading_date`) <= " + format(today, "'%Y-%m-%d'") + "group by trading_date order by trading_date desc"
df_seldate = pd.read_sql(query,con = engine)

In [5]:
# 日付（取引日）の範囲抽出　始まりの日付(上記Todayを含む20日分)
start = df_seldate.iat[20,0]

In [6]:
query = "select * from stock.kb_values where trading_date >= " + format(start, "'%Y-%m-%d'") + " and trading_date <= "  + format(today, "'%Y-%m-%d'")

In [7]:
df_values = pd.read_sql(query,con = engine)

In [8]:
# codeでグループ化(基準日を含む)
ddf = df_values.groupby('code')

In [9]:
# ddf.rank():グループ化した表のうち、それぞれの値の順位を取得する
df_addrank = pd.merge(df_values, ddf.rank(), left_index=True, right_index=True)

In [10]:
# 最安値が過去2番めに低い日が、基準日よりも4営業日(21-3)よりも前の"コード"を抽出
second_low = df_addrank[(df_addrank['trading_date_y']  < 18.0) & (df_addrank['low_y'] == 2.0)].code

In [11]:
# 基準日の行を削除
df_values2 = df_values[df_values['trading_date'] != today]

In [12]:
# codeでグループ化(基準日を含まない)
ddf2 = df_values2.groupby('code')

In [13]:
# 基準日以外で過去最安値となった行を取得
df_low = df_values2.loc[ddf2['low'].idxmin(),:]

In [14]:
# 基準日が含まれている行に、過去最安値となった列をマージ
df_addmin = pd.merge(df_values, df_low, left_on='code', right_on='code', how='left')

In [15]:
# 基準日の終値が、基準日を除く過去最安値よりも安い
df_turtleb = df_addmin[(df_addmin['trading_date_x']  == today) & (df_addmin['adjclose_x'] < df_addmin['low_y'])]

In [16]:
# 最安値が過去2番めに低い日が、基準日よりも4営業日(21-3)よりも前の"コード"を抽出
df_turtleb = df_turtleb.query('code in @second_low.values')

In [17]:
# タートルスーププラスワンの買いのルールに該当するフラグを立てる
df_turtleb['tsplb'] = 1

In [18]:
# 列名を置換え
df_turtleb = df_turtleb.rename(columns={'trading_date_x':'trading_date', 'adjclose_x':'adjclose', 'close_x':'close', 'high_x':'high', 'low_x':'low', 'open_x':'open', 'volume_x':'volume', 'diff_x':'diff'})

In [19]:
df_turtleb

,code,trading_date,adjclose,close,high,low,open,volume,trading_date_y,adjclose_y,close_y,high_y,low_y,open_y,volume_y,tsplb
492,1435,2022-05-10,195.0,195.0,197.0,193.0,197.0,323300.0,2022-04-27,201.0,201.0,201.0,197.0,201.0,268600.0,1
648,1515,2022-05-10,6020.0,6020.0,6140.0,5810.0,6140.0,90100.0,2022-04-27,6170.0,6170.0,6240.0,6110.0,6240.0,60400.0,1
1235,1787,2022-05-10,4555.0,4555.0,4695.0,4500.0,4695.0,700.0,2022-04-12,4745.0,4745.0,4820.0,4675.0,4820.0,500.0,1
1717,1827,2022-05-10,307.0,307.0,313.0,305.0,311.0,39500.0,2022-04-27,314.0,314.0,319.0,310.0,315.0,54300.0,1
1863,1847,2022-05-10,1777.0,1777.0,1835.0,1769.0,1820.0,105600.0,2022-04-27,1821.0,1821.0,1821.0,1795.0,1802.0,28400.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55437,9119,2022-05-10,690.0,690.0,745.0,675.0,743.0,1830000.0,2022-04-28,741.0,741.0,752.0,722.0,741.0,589900.0,1
58356,9644,2022-05-10,640.0,640.0,656.0,638.0,654.0,7500.0,2022-04-27,673.0,673.0,678.0,651.0,663.0,25100.0,1
58941,9722,2022-05-10,2225.0,2225.0,2312.0,2203.0,2312.0,57400.0,2022-04-13,2286.0,2286.0,2287.0,2248.0,2252.0,28700.0,1
59259,9757,2022-05-10,2054.0,2054.0,2205.0,2037.0,2156.0,396500.0,2022-04-27,2121.0,2121.0,2121.0,2094.0,2112.0,146100.0,1
61108,9984,2022-05-10,4900.0,4900.0,4929.0,4721.0,4864.0,18133000.0,2022-04-27,5182.0,5182.0,5189.0,4960.0,4989.0,21451300.0,1

In [20]:
# テーブルへkb_turtlebインサート
# df_turtleb.to_sql('kb_turtleb',con=engine, if_exists='append', index=False)

In [21]:
# ここからタートルスープ（売り）の銘柄抽出

In [22]:
# 基準日を含む過去2番めの最高値日は、基準日よりも4営業日(21-3)前である"コード"を抽出
second_high = df_addrank[(df_addrank['trading_date_y']  < 18.0) & (df_addrank['high_y'] == 20.0)].code

In [23]:
# 基準日以外で過去最高値となった行を取得
df_high = df_values2.loc[ddf2['high'].idxmax(),:]

In [24]:
# 基準日が含まれている行に、過去最高値となった列をマージ
df_addmax = pd.merge(df_values, df_high, left_on='code', right_on='code', how='left')

In [25]:
# 基準日の終値が、基準日を除く過去最高値よりも高い
df_turtles = df_addmax[(df_addmax['trading_date_x']  == today) & (df_addmax['adjclose_x'] > df_addmax['high_y'])]

In [26]:
# 基準日を含む過去2番めの最高値日は、基準日よりも4営業日(21-3)前である"コード"を抽出
df_turtles = df_turtles.query('code in @second_high.values')

In [27]:
# タートルスーププラスワンの売りのルールに該当するフラグを立てる
df_turtles['tspls'] = 1

In [28]:
# 列名を置換え
df_turtles = df_turtles.rename(columns={'trading_date_x':'trading_date', 'adjclose_x':'adjclose', 'close_x':'close', 'high_x':'high', 'low_x':'low', 'open_x':'open', 'volume_x':'volume', 'diff_x':'diff'})

In [29]:
df_turtles

,code,trading_date,adjclose,close,high,low,open,volume,trading_date_y,adjclose_y,close_y,high_y,low_y,open_y,volume_y,tspls
8205,2812,2022-05-10,914.0,914.0,924.0,903.0,922.0,37600.0,2022-04-06,905.0,905.0,905.0,900.0,902.0,8700.0,1
14037,3583,2022-05-10,945.0,945.0,945.0,908.0,908.0,2500.0,2022-04-25,924.0,924.0,935.0,924.0,935.0,1400.0,1
22726,4705,2022-05-10,779.0,779.0,790.0,746.0,746.0,5400.0,2022-04-06,760.0,760.0,770.0,758.0,770.0,4700.0,1
23086,4746,2022-05-10,5710.0,5710.0,5710.0,5380.0,5490.0,14000.0,2022-04-08,5640.0,5640.0,5640.0,5360.0,5360.0,13100.0,1
30619,6156,2022-05-10,1590.0,1590.0,1596.0,1517.0,1531.0,19100.0,2022-04-06,1531.0,1531.0,1547.0,1530.0,1546.0,3400.0,1
47998,8008,2022-05-10,1716.0,1716.0,1721.0,1681.0,1688.0,81600.0,2022-04-21,1701.0,1701.0,1708.0,1687.0,1698.0,53100.0,1
49970,8174,2022-05-10,1881.0,1881.0,1894.0,1831.0,1842.0,709800.0,2022-04-28,1842.0,1842.0,1877.0,1673.0,1674.0,2144700.0,1
50515,8256,2022-05-10,132.0,132.0,138.0,111.0,111.0,10685600.0,2022-04-06,125.0,125.0,129.0,124.0,129.0,923700.0,1
57754,9533,2022-05-10,3160.0,3160.0,3165.0,3055.0,3070.0,481300.0,2022-04-28,3055.0,3055.0,3055.0,2693.0,2710.0,903200.0,1

In [30]:
# テーブルへkb_turtlesインサート
# df_turtles.to_sql('kb_turtles',con=engine, if_exists='append', index=False)