In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame
import pandas_datareader.data as web

In [2]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [3]:
# どの日付を起点にするかここでコントロールする
# datetime.date(20XX, X, XX)
# today = dt.date.today()
today = dt.date.today() - dt.timedelta(days = 5)
# YYYYMMDD
format(today, "'%Y-%m-%d'")

"'2022-05-09'"

In [4]:
query = "select trading_date from stock.kb_values where DATE(`trading_date`) <= " + format(today, "'%Y-%m-%d'") + "group by trading_date order by trading_date desc"
df_seldate = pd.read_sql(query,con = engine)

In [5]:
date_list = df_seldate.iloc[0:49]

In [6]:
for i in range(45):
    end = date_list.iat[i,0]
    start = date_list.iat[i+4,0]
    query = "select * from stock.kb_values where trading_date >= " + format(start, "'%Y-%m-%d'") + " and trading_date <= "  + format(end, "'%Y-%m-%d'")
    df_values = pd.read_sql(query,con = engine)
    # 最大値と最小値の差を抽出
    df_values['diff'] = df_values['high'] - df_values['low']
    # codeでグループ化
    ddf = df_values.groupby('code')
    # グループ化したものから差が最小となる行のみ抽出
    df_selmin = df_values.loc[ddf['diff'].idxmin(),:]
    # 最小値が起点日と一致している日付のみ抽出
    code_lists = df_selmin[df_selmin['trading_date']  == end].code
    # ddf.diff()グループ化した表のうち、それぞれ直前の行との差分を取得する
    df_values2 = pd.merge(df_values, ddf.diff(), left_index=True, right_index=True)
    # 最新日付のHighとLowの値がそれぞれ前日から減少および増加している行を抽出
    df_idnr4 = df_values2[(df_values2['trading_date_x']  == end) & (df_values2['high_y'] < 0) & (df_values2['low_y'] > 0)]
    # df_valuesからcode_listに含まれているcodeの行のみを抽出
    df_idnr4 = df_idnr4.query('code in @code_lists.values')
    # idnr4列を新設し、1をセット
    df_idnr4['idnr4'] = 1
    # 列名を置換え
    df_idnr4 = df_idnr4.rename(columns={'trading_date_x':'trading_date', 'adjclose_x':'adjclose', 'close_x':'close', 'high_x':'high', 'low_x':'low', 'open_x':'open', 'volume_x':'volume', 'diff_x':'diff'})
    #df.to_sql(<table_name>,con=engine, if_exists='append', index=False)
    df_idnr4.to_sql('kb_idnr4',con=engine, if_exists='append', index=False)