In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame
from datetime import datetime, date, time
import pandas_datareader.data as web
from dateutil.relativedelta import relativedelta

In [2]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [3]:
# Inputファイル日付
# 前提from datetime import datetime, date, time
filedate = '20220512'
today = datetime.strptime(filedate, "%Y%m%d")
today

datetime.datetime(2022, 5, 12, 0, 0)

In [4]:
# datetime.date(20XX, X, XX)
end_d = today - dt.timedelta(days = 0)
# YYYYMMDD
format(end_d, '%Y%m%d')

'20220512'

In [5]:
# start_d = end_d - dt.timedelta(days = 8)
start_d = end_d - dt.timedelta(days = 0)
# YYYYMMDD
format(start_d, '%Y%m%d')

'20220512'

In [6]:
# kb.marketを基準日を含む直近2日分抽出
query = "select * from stock.kb_stindex where trading_date = " + format(today, "'%Y-%m-%d'")
df_stindex = pd.read_sql(query,con = engine)

In [7]:
df_stindex

,code,trading_date,adjclose,close,high,low,open,volume
0,^BANK,2022-05-12,4114.95,4114.95,4120.03,4038.91,4101.18,7.790000e+04
1,^BVSP,2022-05-12,105688.00,105688.00,105708.00,103579.00,104395.00,1.399560e+07
2,^DJI,2022-05-12,31730.30,31730.30,31914.50,31228.20,31699.00,5.442400e+08
3,^DJT,2022-05-12,14320.30,14320.30,14367.80,13968.90,14220.20,1.376600e+06
4,^DJU,2022-05-12,982.84,982.84,991.72,972.43,988.75,7.417000e+05
5,^FCHI,2022-05-12,6206.26,6206.26,6238.25,6098.22,6130.69,1.058390e+08
6,^GSPC,2022-05-12,3930.08,3930.08,3964.80,3858.87,3903.95,4.964130e+09
7,^HSI,2022-05-12,19380.30,19380.30,19731.30,19342.90,19556.90,2.273640e+09
8,^INDS,2022-05-12,8091.51,8091.51,8258.89,7856.43,7906.99,0.000000e+00
9,^INSR,2022-05-12,10220.30,10220.30,10264.90,10054.50,10183.80,2.320000e+04
10,^IXCO,2022-05-12,8827.12,8827.12,8982.80,8619.05,8749.43,1.254900e+06
11,^IXTC,2022-05-12,399.18,399.18,399.35,390.73,393.26,1.671000e+05
12,^N225,2022-05-12,25748.70,25748.70,26028.40,25688.10,25945.00,9.120000e+07
13,^NBI,2022-05-12,3481.46,3481.46,3484.39,3355.16,3356.97,5.048000e+05
14,^NDX,2022-05-12,11945.50,11945.50,12128.70,11692.10,11790.10,6.647400e+09
15,^NDXT,2022-05-12,6437.17,6437.17,6530.71,6227.87,6271.12,6.745000e+05
16,^NY,2022-05-12,12851.60,12851.60,12877.10,12646.90,12834.80,0.000000e+00
17,^NYI,2022-05-12,5771.17,5771.17,5815.98,5689.33,5772.75,0.000000e+00
18,^NYL,2022-05-12,9688.85,9688.85,9725.63,9539.88,9681.05,0.000000e+00
19,^NYY,2022-05-12,8559.86,8559.86,8611.14,8386.91,8481.89,0.000000e+00
20,^OEX,2022-05-12,1786.63,1786.63,1805.00,1753.01,1775.93,4.964130e+09
21,^OFIN,2022-05-12,8737.71,8737.71,8788.36,8529.34,8597.50,4.705000e+05
22,^RUA,2022-05-12,2264.05,2264.05,2283.76,2222.89,2256.87,0.000000e+00
23,^SOX,2022-05-12,2827.21,2827.21,2851.75,2754.70,2781.84,0.000000e+00
24,^TRAN,2022-05-12,5486.86,5486.86,5516.22,5364.29,5461.13,2.018000e+05
25,^XAX,2022-05-12,3903.14,3903.14,3925.17,3807.57,3925.17,0.000000e+00
26,^XMI,2022-05-12,2813.95,2813.95,2829.50,2767.63,2827.54,0.000000e+00

In [8]:
# kb.marketの日付一覧を入手
query = "select trading_date from stock.kb_market where DATE(`trading_date`) <= " + format(today, "'%Y-%m-%d'") + "group by trading_date order by trading_date desc"
df_seldate = pd.read_sql(query,con = engine)

In [9]:
# 日付（取引日）の範囲抽出　始まりの日付(上記Todayを含む4日分)
start = df_seldate.iat[1,0]

In [10]:
# kb.marketを基準日を含む直近2日分抽出
query = "select * from stock.kb_market where trading_date >= " + format(start, "'%Y-%m-%d'") + " and trading_date <= "  + format(today, "'%Y-%m-%d'")
df_market = pd.read_sql(query,con = engine)

In [11]:
df_market

,trading_date,nikkei225,topix,jpxni400,prime,standard,growth,old_tosho,growth_core,mothers,...,zaf_inter_rate,hkg_inter_rate,aus_inter_rate,nzl_inter_rate,ind_inter_rate,chn_inter_rate,bra_inter_rate,rus_inter_rate,tur_inter_rate,mex_inter_rate
0,2022-05-11,26213.6,1915.91,17262.6,952.16,951.66,838.18,1851.15,812.56,674.18,...,4.25,5.0,0.35,1.5,4.4,4.35,12.75,0.0,12.5,6.49
1,2022-05-12,0.0,0.00,0.0,940.91,936.33,788.28,1829.18,0.00,0.00,...,4.25,5.0,0.35,1.5,4.4,4.35,12.75,0.0,12.5,6.51

In [12]:
df_market.iat[1,1]

0.0

In [13]:
# 日経平均が0の場合は補正する
if df_market.iat[1,1] == 0:
    df_market.iat[1,1] = df_stindex[(df_stindex['trading_date']  == today.date()) & (df_stindex['code'] == "^N225")].adjclose.item()

In [14]:
# 最新の行に0がある場合は、その同列の直前行の値で補完する
df_market2 = df_market.replace(to_replace=0,value=np.nan).fillna(method='ffill', axis=0)

In [15]:
# Nanを0で埋める
df_market3 = df_market2.fillna(0)

In [16]:
df_market3.iloc[[1]]

,trading_date,nikkei225,topix,jpxni400,prime,standard,growth,old_tosho,growth_core,mothers,...,zaf_inter_rate,hkg_inter_rate,aus_inter_rate,nzl_inter_rate,ind_inter_rate,chn_inter_rate,bra_inter_rate,rus_inter_rate,tur_inter_rate,mex_inter_rate
1,2022-05-12,25748.7,1915.91,17262.6,940.91,936.33,788.28,1829.18,812.56,674.18,...,4.25,5.0,0.35,1.5,4.4,4.35,12.75,0.0,12.5,6.51

In [17]:
sql = "DELETE FROM stock.kb_market WHERE DATE(`trading_date`) = " + format(today, "'%Y%m%d'")

In [18]:
result = engine.execute(sql)

In [19]:
# kb_marketへのインサート
df_market3.iloc[[1]].to_sql('kb_market',con=engine, if_exists='append', index=False)