In [1]:
import pandas as pd
import sqlalchemy as sa
import pymysql

In [2]:
# Inputファイル日付
filedate = '20220610'
trading_date = pd.to_datetime(filedate)
trading_date

Timestamp('2022-06-10 00:00:00')

In [3]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [4]:
# TABLE(kb_market)の作成/銘柄リスト(23時取得データ)
df_market1 = pd.read_csv('data/market_' + filedate + '_1.csv', index_col=[0], header=[0], thousands=',')

In [5]:
# TABLE(kb_market)の作成/銘柄リスト(翌日7時取得データ)
df_market2 = pd.read_csv('data/market_' + filedate + '_2.csv', index_col=[0], header=[0], thousands=',')

In [6]:
# 7時に取得したデータを軸に、23時のデータをマージ
df_market = pd.merge(df_market2, df_market1, left_on="index", right_on="index", how='left', copy=None)

In [7]:
def modify(inrate):
    rate_x, rate_y = inrate
    if rate_x == "--":
        return rate_y
    else:
        return rate_x
        
df_market ['rate'] = df_market[['rate_x','rate_y']].apply(modify, axis=1)

In [8]:
df_market = df_market.drop(['rate_x','rate_y'],axis=1)

In [9]:
pd.set_option('display.max_rows', 60) 
# defult:60,制限なし:None
pd.set_option('display.max_columns', None) 
# defult:20,制限なし:None
df_market

                  index       rate
0                 日経225  27,824.29
1                 TOPIX   1,943.09
2              JPX日経400  17,500.44
3            東証プライム市場指数     999.74
4          東証スタンダード市場指数     983.21
..                  ...        ...
110             中国 貸出金利       4.35
111  ブラジル Selicターゲットレート      12.75
112       ロシア リファイナンス金利         --
113     トルコ 中央銀行ON DEPO      12.50
114      メキシコ オーバーナイト金利       6.91

[115 rows x 2 columns]

In [10]:
# 買いと売りの2パターンある為替と金の情報のみ抽出
#df_st = pd.concat([df_market.iloc[49:69,:], df_market.iloc[71:72,:]])
#20220605修正情報が追加されていた
df_st = pd.concat([df_market.iloc[54:74,:], df_market.iloc[76:77,:]])

In [11]:
# セルを分割するために'-'を空白に置換して、セルを2つに分割
fxrates = df_st['rate'].str.replace('-', ' ').str.split().explode('rate')

In [12]:
indexes = ['usd_jpy_buy' , 'usd_jpy_sell', 'eur_jpy_buy' , 'eur_jpy_sell', 'aud_jpy_buy' , 'aud_jpy_sell', 'nzd_jpy_buy' , 'nzd_jpy_sell', 'cad_jpy_buy' , 'cad_jpy_sell', 'chf_jpy_buy' , 'chf_jpy_sell', 'hkd_jpy_buy' , 'hkd_jpy_sell', 'gbp_jpy_buy' , 'gbp_jpy_sell', 'try_jpy_buy' , 'try_jpy_sell', 'zar_jpy_buy' , 'zar_jpy_sell', 'rub_jpy_buy' , 'rub_jpy_sell', 'krw_jpy_buy' , 'krw_jpy_sell', 'mxn_jpy_buy' , 'mxn_jpy_sell', 'brl_jpy_buy' , 'brl_jpy_sell', 'inr_jpy_buy' , 'inr_jpy_sell', 'cny_jpy_buy' , 'cny_jpy_sell', 'sgd_jpy_buy' , 'sgd_jpy_sell', 'thb_jpy_buy' , 'thb_jpy_sell', 'myr_jpy_buy' , 'myr_jpy_sell', 'idr_jpy_buy' , 'idr_jpy_sell', 'gold_buy' , 'gold_sell']

In [13]:
df_st2 = pd.DataFrame({'index':indexes, 'rate':fxrates})

In [14]:
#df_insert = pd.concat([df_market.iloc[0:49,0:2], df_st2, df_market.iloc[69:71,0:2], df_market.iloc[72:,0:2]])
df_insert = pd.concat([df_market.iloc[0:13,0:2], df_market.iloc[15:16,0:2], df_market.iloc[17:51,0:2], df_market.iloc[53:54,0:2], df_st2, df_market.iloc[74:76,0:2], df_market.iloc[77:,0:2]])

In [15]:
df_insert

                  index       rate
0                 日経225  27,824.29
1                 TOPIX   1,943.09
2              JPX日経400  17,500.44
3            東証プライム市場指数     999.74
4          東証スタンダード市場指数     983.21
..                  ...        ...
110             中国 貸出金利       4.35
111  ブラジル Selicターゲットレート      12.75
112       ロシア リファイナンス金利         --
113     トルコ 中央銀行ON DEPO      12.50
114      メキシコ オーバーナイト金利       6.91

[131 rows x 2 columns]

In [16]:
# indexの値を英字に置換え
df_insert.replace({'日経225':'nikkei225', 'TOPIX':'topix', 'JPX日経400':'jpxni400', '東証プライム市場指数':'prime', '東証スタンダード市場指数':'standard', '東証グロース市場指数':'growth', '旧東証市場第一部指数':'old_tosho', '東証グロース市場Core指数':'growth_core', 'マザーズ総合指数':'mothers', '日経平均VI指数':'nikkei_vi', '東証REIT指数':'reit', 'NYダウ':'dow', 'NASDAQ':'nasdaq', 'S&P500指数':'sp500', '英FT100指数':'gbr_ft', '仏CAC40指数':'fra_cac', '独DAX30指数':'ger_dax', 'ロシアRTS指数':'rus_rts', 'ブラジルボベスパ指数':'bra_bvsp', 'インドSENSEX':'ind_sensex', '香港ハンセン指数':'hkg_han', 'ハンセンH株指数':'hkg_han_h', 'ハンセンレッドチップ指数':'hkg_red', '上海総合指数':'shanghai', '上海A株指数':'shanghai_a', '上海・香港ストックコネクト':'Shang_hongkong', 'CSI300':'csi300', 'シンガポールST指数':'singapore_st', 'タイSET指数':'thailand_set', 'クアラルンプール総合指数':'kualalumpur', 'ジャカルタ総合指数':'Jakarta', '日経225先物（期近）':'nikkei225_futures', 'CME日経平均先物':'cme_futures', 'SGX日経平均先物':'sgx_futures', '東証マザース先物（期近）':'mothers_futures', 'JPX日経400先物（期近）':'nikkei400_futures', 'JPX国債先物':'jpn_bonds_futures', 'JPX国債先物レバレッジ':'jpn_bonds_futures_lev', 'JPX国債先物インバース':'jpn_bonds_futures_In', 'JPX国債先物ダブルインバース':'jpn_bonds_futures_Inw', '台湾加権先物（期近）':'twn_futures', 'FTSE中国50先物（期近）':'chn_futures', 'E-mini S&P 500':'emini500', 'E-mini S&P Mid Cap 400':'emini400', 'E-mini S&P Small Cap 600':'emini600', 'E-mini NASDAQ-100':'emini_nasdaq', 'E-mini Dow':'emini_Dow', 'E-mini Nikkei225':'emini_nikkei225', 'SGX Nifty 50 Index Futures':'sgx50', '米ドル/円（買い）':'usd_jpy_buy', 'ユーロ/円（買い）':'eur_jpy_buy', '豪ドル/円（買い）':'aud_jpy_buy', 'NZドル/円（買い）':'nzd_jpy_buy', 'カナダドル/円（買い）':'cad_jpy_buy', '英ポンド/円（買い）':'chf_jpy_buy', 'スイスフラン/円（買い）':'hkd_jpy_buy', '香港ドル/円（買い）':'gbp_jpy_buy', 'トルコリラ/円（買い）':'try_jpy_buy', '南アランド/円（買い）':'zar_jpy_buy', 'ロシアルーブル/円（買い）':'rub_jpy_buy', '韓国ウォン/円（買い）':'krw_jpy_buy', 'メキシコペソ/円（買い）':'mxn_jpy_buy', 'ブラジルレアル/円（買い）':'brl_jpy_buy', 'インドルピー/円（買い）':'inr_jpy_buy', '中国人民元/円（買い）':'cny_jpy_buy', 'シンガポールドル/円（買い）':'sgd_jpy_buy', 'タイバーツ/円（買い）':'thb_jpy_buy', 'マレーシアリンギット/円（買い）':'myr_jpy_buy', 'インドネシアルピア/円（買い）':'idr_jpy_buy', '米ドル/円（売り）':'usd_jpy_sell', 'ユーロ/円（売り）':'eur_jpy_sell', '豪ドル/円（売り）':'aud_jpy_sell', 'NZドル/円（売り）':'nzd_jpy_sell', 'カナダドル/円（売り）':'cad_jpy_sell', '英ポンド/円（売り）':'chf_jpy_sell', 'スイスフラン/円（売り）':'hkd_jpy_sell', '香港ドル/円（売り）':'gbp_jpy_sell', 'トルコリラ/円（売り）':'try_jpy_sell', '南アランド/円（売り）':'zar_jpy_sell', 'ロシアルーブル/円（売り）':'rub_jpy_sell', '韓国ウォン/円（売り）':'krw_jpy_sell', 'メキシコペソ/円（売り）':'mxn_jpy_sell', 'ブラジルレアル/円（売り）':'brl_jpy_sell', 'インドルピー/円（売り）':'inr_jpy_sell', '中国人民元/円（売り）':'cny_jpy_sell', 'シンガポールドル/円（売り）':'sgd_jpy_sell', 'タイバーツ/円（売り）':'thb_jpy_sell', 'マレーシアリンギット/円（売り）':'myr_jpy_sell', 'インドネシアルピア/円（売り）':'idr_jpy_sell', '原油（WTI原油先物）':'oll_futures', '天然ガス（Henry Hub）先物（NYMEX）':'gas_futures', '金（現物 1oz.あたり）（買い）':'gold_buy', '金（現物 1oz.あたり）（売り）':'gold_sell', 'Gold先物（COMEX)':'gold_futures', 'プラチナ先物（NYMEX）':'platinum_futures', 'Silver先物（COMEX)':'silver_futures', 'Copper先物（COMEX)':'copper_futures', 'Corn先物（CBOT）':'corn_futures', 'Wheat先物（CBOT）':'wheat_futures', 'Soybeans先物（CBOT）':'soybeans_futures', '日本国債3年':'jpn_bonds_3y', '日本国債5年':'jpn_bonds_5y', '日本国債10年':'jpn_bonds_10y', '米国3年国債':'usa_bonds_5y', '米国10年国債':'usa_bonds_10y', 'ドイツ10年国債':'ger_bonds_10y', 'イギリス10年国債':'eng_bonds_10y', 'フランス10年国債':'Fra_bonds_10y', 'スペイン10年国債':'esp_bonds_10y', 'ポルトガル10年国債':'por_bonds_10y', 'ユーロ圏10年国債':'eur_bonds_10y', 'イタリア10年国債':'ita_bonds_10y', 'ギリシャ10年国債':'grc_bonds_10y', 'ハンガリー10年国債':'hun_bonds_10y', '日本 無担保コール翌日物':'jpn_call', '日本 公定歩合':'official_discount_rate', 'アメリカ フェデラルファンド金利':'usa_inter_rate', 'カナダ 翌日物金利誘導目標':'can_inter_rate', 'ユーロ 市場調整金利':'eur_inter_rate', 'イギリス レポ金利':'gbr_inter_rate', 'スイス 3ヵ月物LIBOR誘導目標':'she_inter_rate', '南アフリカ レポ金利':'zaf_inter_rate', '香港 再割引金利':'hkg_inter_rate', 'オーストラリア　政策金利':'aus_inter_rate', 'ニュージーランド 目標短期金利':'nzl_inter_rate', 'インド レポ金利':'ind_inter_rate', '中国 貸出金利':'chn_inter_rate', 'ブラジル Selicターゲットレート':'bra_inter_rate', 'ロシア リファイナンス金利':'rus_inter_rate', 'トルコ 中央銀行ON DEPO':'tur_inter_rate', 'メキシコ オーバーナイト金利':'mex_inter_rate'}
                 ,inplace=True)

In [17]:
# パターン3：2022/4/28以降データ
df_insert = df_insert.T

In [18]:
# df_insert.columns
df_insert.columns = df_insert.loc['index']

In [19]:
df_insert.drop(index='index', inplace=True)

In [20]:
df_insert['trading_date'] = trading_date

In [21]:
df_insert.replace({'--':0, '--%':0}, inplace=True)

In [22]:
df_insert.replace({'%':'', ',':'', '％':''}, regex=True, inplace=True)

In [23]:
#df.to_sql(<table_name>,con=engine, if_exists='append', index=False)
df_insert.to_sql('kb_market',con=engine, if_exists='append', index=False)