In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame
import pandas_datareader.data as web
from dateutil.relativedelta import relativedelta

In [2]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [3]:
query = "select code from stock.kb_brand"
df_brand = pd.read_sql(query,con = engine)

In [4]:
codes = df_brand["code"].astype(str) + ".T"

In [5]:
# datetime.date(20XX, X, XX)
end_d = dt.date.today() - dt.timedelta(days = 0)
# YYYYMMDD
format(end_d, '%Y%m%d')

'20220513'

In [6]:
start_d = end_d - dt.timedelta(days = 1)
format(start_d, '%Y%m%d')

'20220512'

In [7]:
# テスト用絞り込み
# codes = codes[0:15]

In [8]:
import tqdm
from tqdm import tqdm

start = start_d
end = end_d
err_code = []
first = 1

for code in tqdm(codes):
    try:
        df = web.DataReader(code, 'yahoo', start, end)
        df['code'] = code
        if first == 1:
            df_st = df
            first = 0
        else:
            df_st = df_st.append(df)
    except:
        err_code = code

100%|████████████████████████████████████████████████████████████████████████████| 2443/2443 [1:54:13<00:00,  2.81s/it]

In [9]:
df_stock = df_st

In [10]:
# 部分一致の場合は「regex=True」をつける
df_stock['code'] = df_stock['code'].replace(".T", "", regex=True)

In [11]:
df_stock = df_stock.dropna(how = 'any')

In [12]:
df_insert = df_stock.reset_index()

In [13]:
today = '20220513'
tdatetime = dt.datetime.strptime(today, '%Y%m%d')
df_inserta = df_insert[df_insert.Date == tdatetime]
df_insertb = df_insert[df_insert.Date != tdatetime]

In [14]:
df_inserta

           Date    High     Low    Open   Close  Volume  Adj Close  code
1    2022-05-13  3270.0  3180.0  3180.0  3250.0   22100     3250.0  1301
3    2022-05-13  1837.0  1798.0  1800.0  1837.0   17400     1837.0  1376
5    2022-05-13  4360.0  4265.0  4360.0  4305.0  293500     4305.0  1377
7    2022-05-13  1993.0  1960.0  1981.0  1982.0   66400     1982.0  1379
9    2022-05-13  1065.0  1050.0  1052.0  1065.0    1700     1065.0  1380
...         ...     ...     ...     ...     ...     ...        ...   ...
4818 2022-05-13  3690.0  3520.0  3615.0  3615.0  393100     3615.0  9987
4820 2022-05-13  2922.0  2864.0  2922.0  2918.0  475200     2918.0  9989
4822 2022-05-13   808.0   774.0   774.0   808.0   30000      808.0  9991
4824 2022-05-13  1516.0  1501.0  1501.0  1516.0    1700     1516.0  9993
4826 2022-05-13   709.0   684.0   685.0   708.0  326300      708.0  9997

[2393 rows x 8 columns]

In [15]:
df_insertb

           Date    High     Low    Open   Close  Volume  Adj Close  code
0    2022-05-12  3215.0  3185.0  3210.0  3185.0   14400     3185.0  1301
2    2022-05-12  1824.0  1767.0  1775.0  1801.0   16600     1801.0  1376
4    2022-05-12  4390.0  4315.0  4390.0  4330.0  186400     4330.0  1377
6    2022-05-12  1994.0  1972.0  1987.0  1981.0   62300     1981.0  1379
8    2022-05-12  1065.0  1050.0  1065.0  1050.0    2600     1050.0  1380
...         ...     ...     ...     ...     ...     ...        ...   ...
4817 2022-05-12  3840.0  3520.0  3835.0  3630.0  497900     3630.0  9987
4819 2022-05-12  2927.0  2867.0  2901.0  2872.0  502200     2872.0  9989
4821 2022-05-12   792.0   773.0   792.0   773.0   29900      773.0  9991
4823 2022-05-12  1535.0  1498.0  1500.0  1498.0    9700     1498.0  9993
4825 2022-05-12   697.0   678.0   696.0   681.0  231800      681.0  9997

[2434 rows x 8 columns]

In [16]:
df_insert.rename(columns={"Date":"trading_date", "Adj Close":"adjclose"},inplace=True)

In [17]:
df_insert.sort_values(['code', 'trading_date'],inplace=True)

In [19]:
#df.to_sql(<table_name>,con=engine, if_exists='append', index=False)
df_insert.to_sql('kb_values',con=engine, if_exists='append', index=False)

In [20]:
# yahooのサイトから取得できなかった銘柄を出力
Series(err_code).to_csv('data/error_code_' + format(end_d, '%Y%m%d') + '.csv', index=False)

In [21]:
df_insertb.to_csv('data/insertb_' + format(end_d, '%Y%m%d') + '.csv')

In [22]:
df_inserta.to_csv('data/inserta_' + format(end_d, '%Y%m%d') + '.csv')