In [1]:
# MySQLdbのインポート
import MySQLdb

In [2]:
# データベースへの接続とカーソルの生成
connection = MySQLdb.connect(
    host='localhost',
    port=13306,
    user='cyamaryan',
    passwd='python',
    db='stock',
    charset='utf8')
cursor = connection.cursor()

In [3]:
# テーブル削除
sql = '''
DROP TABLE kb_turtleb, kb_turtles
'''
cursor.execute(sql)
cursor.execute("SHOW TABLES")
# fetchall:結果をリスト化する
print(cursor.fetchall())

(('kb_brand',), ('kb_finance',), ('kb_idnr4',), ('kb_market',), ('kb_pin80b',), ('kb_pin80s',), ('kb_values',))

In [4]:
# テーブル作成(kb_turtleb)
sql = '''
CREATE TABLE kb_turtleb(code INT NOT NULL, trading_date DATE NOT NULL, adjclose FLOAT NULL, close FLOAT NULL, high FLOAT NULL, low FLOAT NULL, open FLOAT NULL, volume FLOAT NULL, trading_date_y DATE NULL, adjclose_y FLOAT NULL, close_y FLOAT NULL, high_y FLOAT NULL, low_y FLOAT NULL, open_y FLOAT NULL, volume_y FLOAT NULL, tsplb INT NULL, PRIMARY KEY(code, trading_date))
'''
cursor.execute(sql)

cursor.execute("SHOW TABLES")
# fetchall:結果をリスト化する
print(cursor.fetchall())

(('kb_brand',), ('kb_finance',), ('kb_idnr4',), ('kb_market',), ('kb_pin80b',), ('kb_pin80s',), ('kb_turtleb',), ('kb_values',))

In [5]:
# テーブル作成(kb_turtles)
sql = '''
CREATE TABLE kb_turtles(code INT NOT NULL, trading_date DATE NOT NULL, adjclose FLOAT NULL, close FLOAT NULL, high FLOAT NULL, low FLOAT NULL, open FLOAT NULL, volume FLOAT NULL, trading_date_y DATE NULL, adjclose_y FLOAT NULL, close_y FLOAT NULL, high_y FLOAT NULL, low_y FLOAT NULL, open_y FLOAT NULL, volume_y FLOAT NULL, tspls INT NULL, PRIMARY KEY(code, trading_date))
'''
cursor.execute(sql)

cursor.execute("SHOW TABLES")
# fetchall:結果をリスト化する
print(cursor.fetchall())

(('kb_brand',), ('kb_finance',), ('kb_idnr4',), ('kb_market',), ('kb_pin80b',), ('kb_pin80s',), ('kb_turtleb',), ('kb_turtles',), ('kb_values',))