In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame
from datetime import datetime, date, time
import pandas_datareader.data as web
from dateutil.relativedelta import relativedelta

In [2]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [3]:
# 世界株価主要indexのリストを入力
df_stindex = pd.read_csv('data/##_stindex_20220515.csv', index_col=None, header=[0], parse_dates=[0])

In [7]:
# Inputファイル日付
# 前提from datetime import datetime, date, time
filedate = '20220523'
today = datetime.strptime(filedate, "%Y%m%d")
today

datetime.datetime(2022, 5, 23, 0, 0)

In [8]:
# datetime.date(20XX, X, XX)
end_d = today - dt.timedelta(days = 0)
# YYYYMMDD
format(end_d, '%Y%m%d')

'20220523'

In [10]:
# start_d = end_d - dt.timedelta(days = 8)
start_d = end_d - dt.timedelta(days = 9)
# YYYYMMDD
format(start_d, '%Y%m%d')

'20220514'

In [11]:
# テスト用絞り込み
# codes = df_stindex.code[0:15]
codes = df_stindex.code

In [12]:
import tqdm
from tqdm import tqdm

start = start_d.date()
end = end_d.date()
err_code = []
first = 1

for code in tqdm(codes):
    try:
        df = web.DataReader(code, 'yahoo', start, end)
        df['code'] = code
        if first == 1:
            df_st = df
            first = 0
        else:
            df_st = df_st.append(df)
    except:
        err_code.append(code)

100%|██████████████████████████████████████████████████████████████████████████████████| 27/27 [00:51<00:00,  1.91s/it]

In [13]:
df_stock = df_st

In [14]:
df_stock

,High,Low,Open,Close,Volume,Adj Close,code
Date,,,,,,,
2022-05-13,14695.950195,14359.370117,14359.370117,14456.410156,1107600,14456.410156,^DJT
2022-05-16,14515.879883,14257.129883,14437.679688,14334.769531,997000,14334.769531,^DJT
2022-05-17,14809.490234,14487.400391,14487.400391,14787.910156,1155900,14787.910156,^DJT
2022-05-18,14728.280273,13652.589844,14728.280273,13691.660156,1117500,13691.660156,^DJT
2022-05-19,13683.299805,13228.320312,13594.929688,13439.209961,1227800,13439.209961,^DJT
...,...,...,...,...,...,...,...
2022-05-17,3071.560059,2990.310059,3007.479980,3066.500000,0,3066.500000,^SOX
2022-05-18,3054.810059,2897.939941,3012.020020,2907.959961,0,2907.959961,^SOX
2022-05-19,2960.129883,2867.129883,2901.050049,2890.330078,0,2890.330078,^SOX
2022-05-20,2939.469971,2758.750000,2937.699951,2882.649902,0,2882.649902,^SOX
2022-05-23,2904.169922,2844.090088,2861.340088,2898.429932,0,2898.429932,^SOX

In [15]:
df_insert = df_stock.reset_index()

In [16]:
df_insert.rename(columns={"Date":"trading_date", "Adj Close":"adjclose"},inplace=True)

In [17]:
df_insert.sort_values(['code', 'trading_date'],inplace=True)

In [18]:
# kb_stindexへのインサート
for i in  tqdm(df_insert.index):
    try:
        df_insert.iloc[[i]].to_sql('kb_stindex',con=engine, if_exists='append', index=False)
    except:
        continue

100%|████████████████████████████████████████████████████████████████████████████████| 180/180 [00:02<00:00, 65.48it/s]

In [19]:
df_stindex = df_insert[df_insert['trading_date'] == today]

In [20]:
df_stindex

,trading_date,High,Low,Open,Close,Volume,adjclose,code
20,2022-05-23,4228.779785,4141.330078,4171.379883,4194.779785,61700,4194.779785,^BANK
152,2022-05-23,110680.000000,108500.000000,108500.000000,110346.000000,10682700,110346.000000,^BVSP
6,2022-05-23,13804.879883,13544.750000,13544.750000,13757.799805,894200,13757.799805,^DJT
13,2022-05-23,1009.799988,993.679993,1000.000000,1005.020020,450100,1005.020020,^DJU
145,2022-05-23,6358.740234,6263.959961,6350.879883,6358.740234,82641900,6358.740234,^FCHI
132,2022-05-23,3981.879883,3909.040039,3919.419922,3973.750000,3392770000,3973.750000,^GSPC
138,2022-05-23,20642.759766,20303.550781,20608.650391,20470.060547,1696099800,20470.060547,^HSI
55,2022-05-23,8105.160156,7902.799805,8043.660156,8087.729980,0,8087.729980,^INDS
62,2022-05-23,10429.910156,10258.709961,10369.089844,10391.639648,15600,10391.639648,^INSR
27,2022-05-23,8988.129883,8768.360352,8789.339844,8970.459961,822200,8970.459961,^IXCO
76,2022-05-23,400.720001,392.850006,397.179993,399.000000,102800,399.000000,^IXTC
158,2022-05-23,27047.470703,26832.650391,26991.419922,27001.519531,65000000,27001.519531,^N225
41,2022-05-23,3740.179932,3698.610107,3722.530029,3713.330078,436400,3713.330078,^NBI
34,2022-05-23,12047.809570,11785.759766,11867.080078,12034.280273,4509640000,12034.280273,^NDX
48,2022-05-23,6677.109863,6521.339844,6595.100098,6664.000000,505400,6664.000000,^NDXT
104,2022-05-23,13106.610352,12810.589844,12810.589844,13065.589844,0,13065.589844,^NY
97,2022-05-23,6111.399902,5987.680176,5987.680176,6091.689941,0,6091.689941,^NYI
111,2022-05-23,10001.089844,9783.669922,9783.669922,9970.299805,0,9970.299805,^NYL
90,2022-05-23,8815.589844,8672.389648,8693.929688,8796.540039,0,8796.540039,^NYY
125,2022-05-23,1804.540039,1769.369995,1770.160034,1800.339966,3392770000,1800.339966,^OEX
69,2022-05-23,9025.000000,8880.190430,8984.530273,8997.919922,246600,8997.919922,^OFIN
165,2022-05-23,2300.320068,2259.239990,2268.439941,2295.469971,0,2295.469971,^RUA
179,2022-05-23,2904.169922,2844.090088,2861.340088,2898.429932,0,2898.429932,^SOX
83,2022-05-23,5430.629883,5333.080078,5387.169922,5413.629883,158900,5413.629883,^TRAN
172,2022-05-23,4115.279785,4041.550049,4043.389893,4083.129883,0,4083.129883,^XAX
118,2022-05-23,2831.899902,2755.409912,2755.409912,2826.939941,0,2826.939941,^XMI

In [21]:
# kb.marketの日付一覧を入手
query = "select trading_date from stock.kb_market where DATE(`trading_date`) <= " + format(today, "'%Y-%m-%d'") + "group by trading_date order by trading_date desc"
df_seldate = pd.read_sql(query,con = engine)

In [22]:
# 日付（取引日）の範囲抽出　始まりの日付(上記Todayを含む4日分)
start = df_seldate.iat[1,0]

In [23]:
# kb.marketを基準日を含む直近2日分抽出
query = "select * from stock.kb_market where trading_date >= " + format(start, "'%Y-%m-%d'") + " and trading_date <= "  + format(today, "'%Y-%m-%d'")
df_market = pd.read_sql(query,con = engine)

In [24]:
df_market

,trading_date,nikkei225,topix,jpxni400,prime,standard,growth,old_tosho,growth_core,mothers,...,zaf_inter_rate,hkg_inter_rate,aus_inter_rate,nzl_inter_rate,ind_inter_rate,chn_inter_rate,bra_inter_rate,rus_inter_rate,tur_inter_rate,mex_inter_rate
0,2022-05-20,26739.0,1877.37,16918.6,965.76,955.61,833.67,1877.37,797.25,657.29,...,4.75,5.0,0.35,1.5,4.4,4.35,12.75,0.0,12.5,6.99
1,2022-05-23,27001.5,1894.57,17089.4,974.58,964.29,855.71,1894.57,813.00,674.82,...,4.75,5.0,0.35,1.5,4.4,4.35,12.75,0.0,12.5,6.99

In [25]:
df_market.iat[1,1]

27001.5

In [26]:
# 日経平均が0の場合は補正する
if df_market.iat[1,1] == 0:
    df_market.iat[1,1] = df_stindex[(df_stindex['trading_date']  == today.date()) & (df_stindex['code'] == '^N225')].adjclose.item()

In [27]:
# 最新の行に0がある場合は、その同列の直前行の値で補完する
df_market2 = df_market.replace(to_replace=0,value=np.nan).fillna(method='ffill', axis=0)

In [28]:
# Nanを0で埋める
df_market3 = df_market2.fillna(0)

In [29]:
df_market3.iloc[[1]]

,trading_date,nikkei225,topix,jpxni400,prime,standard,growth,old_tosho,growth_core,mothers,...,zaf_inter_rate,hkg_inter_rate,aus_inter_rate,nzl_inter_rate,ind_inter_rate,chn_inter_rate,bra_inter_rate,rus_inter_rate,tur_inter_rate,mex_inter_rate
1,2022-05-23,27001.5,1894.57,17089.4,974.58,964.29,855.71,1894.57,813.0,674.82,...,4.75,5.0,0.35,1.5,4.4,4.35,12.75,0.0,12.5,6.99

In [30]:
sql = "DELETE FROM stock.kb_market WHERE DATE(`trading_date`) = " + format(today, "'%Y%m%d'")

In [31]:
result = engine.execute(sql)

In [32]:
# kb_marketへのインサート
df_market3.iloc[[1]].to_sql('kb_market',con=engine, if_exists='append', index=False)