In [46]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt

In [2]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [3]:
# どの日付を起点にするかここでコントロールする
# datetime.date(20XX, X, XX)
# today = dt.date.today()
today = dt.date.today() - dt.timedelta(days = 0)
# YYYYMMDD
format(today, "'%Y-%m-%d'")

"'2024-02-17'"

In [4]:
# TABLE(kb_brand)の作成/銘柄リスト
df_indata = pd.read_csv('data/screener_result.csv', index_col=None, header=None, parse_dates=[0])

In [5]:
df_indata = df_indata.iloc[1:,0:3]

In [6]:
df_indata.rename(columns={0:"code",1:"name",2:"marketplace"},inplace=True)

In [7]:
df_indata

      code             name marketplace
1     1301               極洋          東P
2     130A  Ｖｅｒｉｔａｓ　Ｉｎ　Ｓｉｌｉ          東G
3     1332             ニッスイ          東P
4     1333           マルハニチロ          東P
5     1375           雪国まいたけ          東P
...    ...              ...         ...
3827  9993             ヤマザワ          東S
3828  9994              やまや          東S
3829  9995            グローセル          東P
3830  9996            サトー商会          東S
3831  9997             ベルーナ          東P

[3831 rows x 3 columns]

In [8]:
df_brand = pd.read_sql('SELECT * FROM kb_brand;', con=engine)

In [9]:
df_brand

      code    name marketplace  del_flg del_date
0     1301      極洋          東P      NaN     None
1     1332    ニッスイ          東P      NaN     None
2     1333  マルハニチロ          東P      NaN     None
3     1375  雪国まいたけ          東P      NaN     None
4     1376   カネコ種苗          東S      NaN     None
...    ...     ...         ...      ...      ...
3336  9993    ヤマザワ          東S      NaN     None
3337  9994     やまや          東S      NaN     None
3338  9995   グローセル          東P      NaN     None
3339  9996   サトー商会          東S      NaN     None
3340  9997    ベルーナ          東P      NaN     None

[3341 rows x 5 columns]

In [10]:
df_merge = pd.merge(df_indata, df_brand, left_on='code', right_on='code', how='outer')

In [11]:
pd.set_option('display.max_rows', 60) 
# defult:60,制限なし:None
pd.set_option('display.max_columns', None) 
# defult:20,制限なし:None
df_merge

,code,name_x,marketplace_x,name_y,marketplace_y,del_flg,del_date
0,1301,極洋,東P,極洋,東P,NaN,None
1,130A,Ｖｅｒｉｔａｓ Ｉｎ Ｓｉｌｉ,東G,NaN,NaN,NaN,None
2,1332,ニッスイ,東P,ニッスイ,東P,NaN,None
3,1333,マルハニチロ,東P,マルハニチロ,東P,NaN,None
4,1375,雪国まいたけ,東P,雪国まいたけ,東P,NaN,None
...,...,...,...,...,...,...,...
3899,9641,NaN,NaN,サコス,東S,1.0,2024-02-17
3900,9728,NaN,NaN,日本管財,東P,1.0,2024-02-17
3901,9945,NaN,NaN,プレナス,東P,1.0,2024-02-17
3902,9964,NaN,NaN,アイ・テック,東S,1.0,2024-02-17
3903,9967,NaN,NaN,堺商事,東S,1.0,2024-02-17

In [12]:
#name_xの値が欠損値の行をフィルタして、del_dateへ今日の日付を設定
df_merge.loc[df_merge['name_x'].isna(), 'del_date'] = today
#name_xの値が欠損値の行をフィルタして、del_dateへ今日の日付を設定
df_merge.loc[df_merge['name_x'].isna(), 'del_flg'] = 1

In [29]:
df_merge

,code,name_x,marketplace_x,name_y,marketplace_y,del_flg,del_date
0,1301,極洋,東P,極洋,東P,NaN,None
1,130A,Ｖｅｒｉｔａｓ Ｉｎ Ｓｉｌｉ,東G,NaN,NaN,NaN,NaN
2,1332,ニッスイ,東P,ニッスイ,東P,NaN,None
3,1333,マルハニチロ,東P,マルハニチロ,東P,NaN,None
4,1375,雪国まいたけ,東P,雪国まいたけ,東P,NaN,None
...,...,...,...,...,...,...,...
3899,9641,サコス,東S,サコス,東S,1.0,2024-02-17
3900,9728,日本管財,東P,日本管財,東P,1.0,2024-02-17
3901,9945,プレナス,東P,プレナス,東P,1.0,2024-02-17
3902,9964,アイ・テック,東S,アイ・テック,東S,1.0,2024-02-17
3903,9967,堺商事,東S,堺商事,東S,1.0,2024-02-17

In [30]:
# カラムname_xが欠損値の場合に、name_yの値を代入する
df_merge['name_x'] = df_merge['name_x'].fillna(df_merge['name_y'])

In [31]:
# カラムmarketplace_xが欠損値の場合に、marketplace_yの値を代入する
df_merge['marketplace_x'] = df_merge['marketplace_x'].fillna(df_merge['marketplace_y'])

In [38]:
df_insert = df_merge[['code', 'name_x', 'marketplace_x', 'del_flg', 'del_date']]

In [39]:
df_insert.rename(columns={"name_x":"name", "marketplace_x":"marketplace"},inplace=True)

C:\Users\ricew\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [40]:
#欠損値をNoneに変更
df_insert = df_insert.where(df_insert.notna(), None)

In [47]:
df_insert = df_insert.replace([np.nan], [None])

In [48]:
df_insert

      code             name marketplace del_flg    del_date
0     1301               極洋          東P    None        None
1     130A  Ｖｅｒｉｔａｓ　Ｉｎ　Ｓｉｌｉ          東G    None        None
2     1332             ニッスイ          東P    None        None
3     1333           マルハニチロ          東P    None        None
4     1375           雪国まいたけ          東P    None        None
...    ...              ...         ...     ...         ...
3899  9641              サコス          東S     1.0  2024-02-17
3900  9728             日本管財          東P     1.0  2024-02-17
3901  9945             プレナス          東P     1.0  2024-02-17
3902  9964           アイ・テック          東S     1.0  2024-02-17
3903  9967              堺商事          東S     1.0  2024-02-17

[3904 rows x 5 columns]

In [49]:
df_brand

      code    name marketplace  del_flg del_date
0     1301      極洋          東P      NaN     None
1     1332    ニッスイ          東P      NaN     None
2     1333  マルハニチロ          東P      NaN     None
3     1375  雪国まいたけ          東P      NaN     None
4     1376   カネコ種苗          東S      NaN     None
...    ...     ...         ...      ...      ...
3336  9993    ヤマザワ          東S      NaN     None
3337  9994     やまや          東S      NaN     None
3338  9995   グローセル          東P      NaN     None
3339  9996   サトー商会          東S      NaN     None
3340  9997    ベルーナ          東P      NaN     None

[3341 rows x 5 columns]

In [50]:
sql = "DELETE FROM stock.kb_brand"

In [51]:
result = engine.execute(sql)

In [52]:
#df.to_sql(<table_name>,con=engine, if_exists='append', index=False)
df_insert.to_sql('kb_brand',con=engine, if_exists='append', index=False)