In [16]:
import pandas as pd
import sqlalchemy as sa
import pymysql

In [17]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [18]:
# TABLE(kb_brand)の作成/銘柄リスト
df_brand = pd.read_csv('data/screener_result_20220506.csv', index_col=None, header=None, parse_dates=[0])

In [51]:
df_insert = df_brand.iloc[1:,0:3]

In [52]:
df_insert.rename(columns={0:"code",1:"name",2:"marketplace"},inplace=True)

In [53]:
df_insert['del_flag'] = 0

In [54]:
# df_insert.dtypes <-各列のタイプを確認
df_insert['code'] = df_insert['code'].astype(int)

In [45]:
df_brand = pd.read_sql('SELECT * FROM kb_brand;', con=engine)

In [55]:
df_merge = pd.merge(df_insert, df_brand, left_on='code', right_on='code', how='outer')

In [56]:
pd.set_option('display.max_rows', 60) 
# defult:60,制限なし:None
pd.set_option('display.max_columns', None) 
# defult:20,制限なし:None
df_merge

,code,name_x,marketplace_x,del_flag_x,name_y,marketplace_y,del_flag_y,del_date
0,1352,ホウスイ,東S,0.0,ホウスイ,東S,0,None
1,1376,カネコ種苗,東S,0.0,カネコ種苗,東S,0,None
2,1377,サカタのタネ,東P,0.0,サカタのタネ,東P,0,None
3,1379,ホクト,東P,0.0,ホクト,東P,0,None
4,1380,秋川牧園,東S,0.0,秋川牧園,東S,0,None
...,...,...,...,...,...,...,...,...
2403,9989,サンドラッグ,東P,0.0,サンドラッグ,東P,0,None
2404,9991,ジェコス,東P,0.0,ジェコス,東P,0,None
2405,9993,ヤマザワ,東S,0.0,ヤマザワ,東S,0,None
2406,9997,ベルーナ,東P,0.0,ベルーナ,東P,0,None
2407,1301,NaN,NaN,NaN,極洋,東P,0,None

In [22]:
#df.to_sql(<table_name>,con=engine, if_exists='append', index=False)
df_insert.to_sql('kb_brand',con=engine, if_exists='upsert_overwrite', index=False)

ValueError: 'upsert_overwrite' is not valid for if_exists

In [15]:
#df.to_sql(<table_name>,con=engine, if_exists='append', index=False)
df_insert.to_sql('kb_brand',con=engine, if_exists='append', index=False)

ValueError: 'upsert_overwrite' is not valid for if_exists