In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pymysql
import datetime as dt
from pandas_datareader import DataReader
from pandas import Series, DataFrame
import pandas_datareader.data as web
from dateutil.relativedelta import relativedelta

In [2]:
# Mysqlへ接続
url = 'mysql+pymysql://cyamaryan:python@localhost:13306/stock?charset=utf8mb4'
# engineの作成
engine = sa.create_engine(url, echo=False)

In [3]:
query = "select code from stock.kb_brand"
df_brand = pd.read_sql(query,con = engine)

In [4]:
# codes = df_brand["code"].astype(str) + ".T"
codes = df_brand["code"]

In [5]:
# どの日付を起点にするかここでコントロールする
# datetime.date(20XX, X, XX)
# today = dt.date.today()
exeday = dt.date.today() - dt.timedelta(days = 1)
# YYYYMMDD
format(exeday, "'%Y-%m-%d'")

"'2022-05-20'"

In [6]:
# どこまで遡るか
# 参照(https://kokufu.blogspot.com/2018/12/python-date-datetime.html)
# 文字列からDatetime形式へ変換
# 3/1のIndex値を取得する
filedate = '20220311'
startdate = dt.datetime.strptime(filedate, '%Y%m%d').date()

In [7]:
query = "select trading_date from stock.kb_values where DATE(`trading_date`) <= " + format(exeday, "'%Y-%m-%d'") + "group by trading_date order by trading_date desc"
df_exedate = pd.read_sql(query,con = engine)

In [8]:
# どこまで遡るか遡る日のインデックス値を取得
start = df_exedate[df_exedate['trading_date'] == startdate].index.values + 1

In [9]:
# 基準日からどこまで遡るのか日のリスト
exe_list = df_exedate.iloc[0:start[0]].values

In [10]:
# 基準日からどこまで遡るのか日のDataframe→Pandas→リスト化！！！
exe_list = np.setdiff1d(df_exedate.iloc[0:start[0]].values, 'trading_date')

In [11]:
import tqdm
from tqdm import tqdm

err_code = []
first = 1
for exedate in tqdm(exe_list):
    query = "select code, trading_date from stock.kb_values where DATE(`trading_date`) = " + format(exedate, "'%Y-%m-%d'")
    df_values = pd.read_sql(query,con = engine)
    # 銘柄一覧と過去に取得した4本足を突合し、取得できなかった銘柄をfind outする
    df_check = pd.merge(df_brand, df_values, left_on='code', right_on='code', how='left') 
    df_nonget = df_check[df_check['trading_date'].isnull()]
    df_nonget['trading_date'] = exedate
    if first == 1:
        df_st = df_nonget
        first = 0
    else:
        df_st = df_st.append(df_nonget)

 76%|██████████████████████████████████████████████████████████████▍                   | 35/46 [00:03<00:00, 11.84it/s]C:\Users\ricew\AppData\Local\Temp/ipykernel_99972/527579609.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nonget['trading_date'] = exedate
100%|██████████████████████████████████████████████████████████████████████████████████| 46/46 [00:04<00:00, 10.69it/s]

In [15]:
for i in tqdm(range(len(df_st))):
    code = df_st.iat[i,0].astype(str) + ".T"
    start = df_st.iat[i,1]
    end = df_st.iat[i,1]
    try:
        df_get = web.DataReader(code, 'yahoo', start, end)
        df_get['code'] = code.replace(".T", "")
        df_insert = df_get.reset_index()
        df_insert.rename(columns={"Date":"trading_date", "Adj Close":"adjclose"},inplace=True)
        try:
            df_insert.to_sql('kb_values',con=engine, if_exists='append', index=False)
        except:
            continue
    except:
        err_code = code

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [00:11<00:00,  1.06s/it]

In [16]:
err_code

'6553.T'

In [17]:
df_st

      code trading_date
1423  6553   2022-05-09
1423  6553   2022-05-10
1423  6553   2022-05-11
1423  6553   2022-05-12
1423  6553   2022-05-13
1423  6553   2022-05-16
1423  6553   2022-05-17
1423  6553   2022-05-18
1423  6553   2022-05-19
1423  6553   2022-05-20
1619  7167   2022-05-20